<template>
  <div>
    <Navbar />
    <HeroYear />
    <div class="app-container">
      <nuxt />
    </div>
    <b-button
      id="button-backtotop"
      :class="[backToTopVisible ? 'visible' : '']"
      icon-left="chevron-up"
      type="is-primary"
      size="is-large"
      @click="backToTop()"
    ></b-button>
    <Footer />
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import Navbar from '@/components/layout/Navbar.vue'
import HeroYear from '@/components/layout/HeroYear.vue'
import Footer from '@/components/layout/Footer.vue'
require('@/assets/css/animate.css')

export default {
  components: {
    Navbar,
    HeroYear,
    Footer,
  },
  data() {
    return {
      backToTopVisible: false,
    }
  },
  computed: {
    ...mapGetters(['isAuthenticated']),
  },
  beforeMount() {
    if (this.isAuthenticated) {
      this.$store.dispatch('missions/getMissions', {
        annee: this.$moment().year(),
        pageNumber: 1,
      })
      this.$store.dispatch(
        'deplacementsdt/getDeplacementsDT',
        this.$moment().year()
      )
    }
    window.addEventListener('scroll', this.HideOrShowBackToTop)
  },
  methods: {
    backToTop() {
      window.scrollTo({ top: 0, behavior: 'smooth' })
    },
    HideOrShowBackToTop() {
      this.backToTopVisible = window.scrollY > 400
    },
  },
}
</script>

<style lang="scss">
@import '~/assets/scss/variables.scss';

.app-container {
  position: relative;
  width: 100%;
  min-height: 1500px;
  margin-top: 0px;
  padding-top: 2 * $navbar-height;
}

#button-backtotop {
  position: fixed;
  z-index: 39;
  border-radius: 50%;
  opacity: 0;
  visibility: hidden;
  right: 0;
  bottom: 32px;
  margin: 0 32px 0 0;
  transform: scale(0.7);
  transition: all 0.5s;
}

#button-backtotop.visible {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}
</style>
