<template>
  <div>
    <highchart ref="chart" :options="options"></highchart>
  </div>
</template>

<script>
export default {
  name: 'HighChartDonut',
  props: {
    data: {
      type: Object,
      required: false,
      default: null,
    },
    selectedYear: {
      type: Number,
      required: true,
    },
    selectedCategory: {
      type: String,
      required: true,
    },
  },
  data() {
    return {
      series: [],
      loading: true,
      display: true,
      options: {
        chart: {
          animation: {
            duration: 100000,
          },
          plotBackgroundColor: null,
          plotBorderWidth: null,
          plotShadow: false,
          type: 'pie',
          height: 400,
          events: {
            redraw() {
              if (this.series.length > 0) {
                const chart = this
                const points = chart.series[0].points
                const len = points.length
                let total = 0
                let i = 0

                for (; i < len; i++) {
                  total += points[i].y
                }

                chart.setTitle({
                  text:
                    total
                      .toFixed(2)
                      .toString()
                      .replace(/\B(?=(\d{3})+(?!\d))/g, ' ') + ' tCO2e',
                  align: 'center',
                  verticalAlign: 'middle',
                  style: {
                    font: 'bold 1.5em Trebuchet MS, Verdana, sans-serif',
                    fontSize: '0px',
                  },
                })
              }
            },
          },
        },
        legend: {
          enabled: true,
        },
        tooltip: {
          valueDecimals: 2,
        },
        title: {
          text: '',
        },
        plotOptions: {
          pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            animation: {
              duration: 500,
            },
            dataLabels: {
              enabled: true,
              format: '{point.percentage:.0f} %',
              distance: '-15%',
              filter: {
                property: 'percentage',
                operator: '>',
                value: 1,
              },
              color: 'white',
            },
            showInLegend: true,
          },
        },

        series: [],
        credits: false,
      },
    }
  },
  watch: {
    data() {
      this.refreshData()
    },
    selectedCategory() {
      this.refreshData()
    },
    selectedYear() {
      this.refreshData()
    },
  },
  mounted() {
    if (this.data) {
      this.refreshData()
    }
  },
  methods: {
    refreshData() {
      if (!this.data) {
        return
      }
      const colors = {
        avion: '#A13D4F',
        metro: '#66C2A5',
        ferry: '#FC8D62',
        voiture: '#8DA0CB',
        tramway: '#6A5486',
        train: '#A6D854',
        taxi: '#FFD92F',
        rer: '#E5C494',
        bus: '#1A85B9',
        marche: '#F2CEDF',
        velo: '#A13D4F',
        veloElectrique: '#FC8D62',
        trottinetteElectrique: '#FFD92F',
        deuxRouesMotorise: '#96613D',
      }

      this.options.series = []

      setTimeout(() => {
        const data = []
        const subData = this.data[this.selectedCategory]
        const index = this.data.annees.findIndex(
          (obj) => obj === parseInt(this.selectedYear)
        )

        for (const [attribute, value] of Object.entries(subData)) {
          if (index < 0) {
            data.push({
              name: this.$t(attribute),
              y: 0,
              color: colors[attribute],
            })
          } else {
            data.push({
              name: this.$t(attribute),
              y: value[index],
              color: colors[attribute],
            })
          }
        }

        this.options.series.push({
          name: this.selectedCategory,
          colorByPoint: true,
          innerSize: '70%',
          data,
        })
      }, 0)
    },
  },
}
</script>

<style scoped></style>
