<template>
  <highchart :options="options"></highchart>
</template>

<script>
export default {
  name: 'HighChartCombi',
  props: {
    data: {
      type: Object,
      required: false,
      default: null,
    },
    selectedCategory: {
      type: String,
      required: true,
    },
  },
  data() {
    const that = this
    return {
      series: [],
      loading: true,
      display: true,
      options: {
        chart: {
          height: 455,
        },
        xAxis: {
          categories: ['2019'],
          title: {
            text: that.$t('annee'),
          },
        },
        yAxis: {
          title: {
            text: that.$t('emissions'),
          },
          stackLabels: {
            enabled: true,
            format: '{total:.2f}',
            style: {
              fontWeight: 'bold',
              fontSize: '1.2em',
              color: 'gray',
            },
          },
        },
        title: {
          text: '',
        },
        plotOptions: {
          series: {
            cursor: 'pointer',
            animation: {
              duration: 500,
            },
            dataLabels: {
              enabled: false,
            },
            point: {
              events: {
                click() {
                  that.$emit('setSelectedYear', this.category)
                },
              },
            },
          },
          area: {
            color: '#d3a000',
            fillOpacity: 0.1,
          },
        },
        tooltip: {
          valueDecimals: 2,
        },
        series: [],
        style: {
          fontFamily: 'serif',
        },
        credits: false,
      },
    }
  },
  watch: {
    data() {
      this.refreshData()
    },
    selectedCategory() {
      this.refreshData()
    },
  },
  methods: {
    refreshData() {
      if (!this.data) {
        return
      }
      const colors = {
        avion: '#A13D4F',
        metro: '#66C2A5',
        ferry: '#FC8D62',
        voiture: '#8DA0CB',
        tramway: '#6A5486',
        train: '#A6D854',
        taxi: '#FFD92F',
        rer: '#E5C494',
        bus: '#1A85B9',
        marche: '#F2CEDF',
        velo: '#A13D4F',
        veloElectrique: '#FC8D62',
        trottinetteElectrique: '#FFD92F',
        deuxRouesMotorise: '#96613D',
      }
      const series = []
      this.options.xAxis = {
        categories: ['', ...this.data.annees, ''],
        min: 1,
        max: this.data.annees.length,
      }

      const subData = this.data[this.selectedCategory]

      for (const [attribute, values] of Object.entries(subData)) {
        series.push({
          type: 'column',
          stacking: true,
          name: this.$t(attribute),
          data: [0, ...values, 0],
          color: colors[attribute],
        })
      }

      this.options.series = series
    },
  },
}
</script>

<style scoped></style>

<i18n lang="yaml">
fr:
  emissions: Émissions [tCO2eq]
en:
  emissions: Emissions [tCO2eq]
</i18n>
