<template>
  <div>
    <ValidationObserver ref="form">
      <div class="card has-background-white-ter">
        <header class="card-header">
          <p
            class="card-header-title is-centered has-background-primary has-text-white"
          >
            {{ $t('seConnecter') }}
          </p>
        </header>
        <div class="content mt-3">
          <section class="card-content">
            <form @submit.prevent="validate()">
              <div class="mb-4">
                <ValidationProvider v-slot="{ errors }" rules="required|email">
                  <b-field
                    :label="$t('adresseEmail')"
                    :message="errors"
                    :type="{ 'is-danger': errors[0] }"
                  >
                    <b-input
                      v-model="form.email"
                      type="email"
                      size="is-medium"
                      :placeholder="$t('adresseEmail')"
                    >
                    </b-input>
                  </b-field>
                </ValidationProvider>
              </div>

              <div class="mb-3">
                <ValidationProvider v-slot="{ errors }" rules="required">
                  <b-field
                    :label="$t('mdp')"
                    :message="errors"
                    :type="{ 'is-danger': errors[0] }"
                  >
                    <b-input
                      v-model="form.password"
                      type="password"
                      size="is-medium"
                      :placeholder="$t('mdp')"
                      password-reveal
                    ></b-input>
                  </b-field>
                </ValidationProvider>
              </div>
              <div class="mt-3">
                <a @click="askEmail()"> {{ $t('oubliMdp') }}</a>
              </div>
              <div v-if="error" class="error-box my-3">
                {{ text_error }}
              </div>

              <button
                class="button is-dark is-medium is-fullwidth mt-5"
                type="submit"
              >
                {{ $t('connexion') }}
              </button>
            </form>
          </section>
        </div>
      </div>
    </ValidationObserver>
  </div>
</template>

<script>
import { ValidationObserver, ValidationProvider } from 'vee-validate'
export default {
  name: 'Login',
  components: {
    ValidationObserver,
    ValidationProvider,
  },
  props: {
    email: {
      type: String,
      required: false,
      default: null,
    },
  },
  data() {
    return {
      form: {
        email: this.email,
        password: null,
      },
      error: false,
      text_error: '',
    }
  },
  methods: {
    async validate() {
      const success = await this.$refs.form.validate()
      if (!success) {
        return
      }
      this.$nuxt.$loading.start()
      this.form.email = this.form.email.toLowerCase()

      try {
        await this.$auth.loginWith('local', {
          data: {
            email: this.form.email,
            password: this.form.password,
          },
        })
        await this.$store.dispatch('missions/getMissions', {
          annee: this.$store.state.annee,
          pageNumber: 1,
        })
        await this.$store.dispatch(
          'deplacementsdt/getDeplacementsDT',
          this.$store.state.annee
        )
        this.$router.push(this.localePath({ name: 'calculateur' }))
      } catch (err) {
        this.error = true
        try {
          const data = await this.$usersService.check_credentials({
            email: this.form.email,
          })
          if (!data.unique && !data.is_active) {
            this.text_error = this.$t('compteInactif')
          } else if (data.unique) {
            this.text_error = this.$t('emailNonAssocie')
          } else {
            this.text_error = this.$t('mdpInvalide')
          }
        } catch (err) {
          this.text_error = this.$t('problemeServeur')
        }
        this.$nuxt.$loading.finish()
      }
    },
    askEmail() {
      this.$buefy.dialog.prompt({
        message: this.$t('questionEmail'),
        inputAttrs: {
          placeholder: this.$t('adresseEmail'),
          maxlength: 30,
        },
        cancelText: this.$t('annuler'),
        confirmText: 'Ok',
        trapFocus: true,
        onConfirm: (value) => this.sendResetLink(value),
      })
    },
    sendResetLink(email) {
      this.$usersService.check_credentials({ email }).then((data) => {
        if (data.unique) {
          this.$buefy.dialog.confirm({
            title: this.$t('adresseIntrouvableTitre'),
            message: this.$t('adresseIntrouvableMessage'),
            cancelText: this.$t('annuler'),
            type: 'is-danger',
            hasIcon: true,
            confirmText: this.$t('reessayer'),
            onConfirm: () => this.askEmail(),
          })
        } else {
          this.$usersService.reset_password({ email })
          this.$buefy.dialog.alert({
            title: this.$t('changerMdp'),
            type: 'is-success',
            message: this.$t('lienReinitialisationEnvoye'),
            confirmText: 'OK',
          })
        }
      })
    },
  },
}
</script>

<style scoped>
.error-box {
  border-left: 5px solid red;
  padding: 10px 20px;
  color: red;
  background-color: Snow;
}

.break {
  flex-basis: 100%;
  height: 0;
}
</style>

<i18n lang="yaml">
fr:
  compteInactif: Ce compte n'a pas encore été activé. Vérifiez vos emails. Un lien d'activation y a normalement été envoyé.
  emailNonAssocie: Cette adresse e-mail n'est associée à aucun compte.
  mdpInvalide: Cette adresse e-mail est bien associée à un compte mais le mot de passe n'est pas valide.
  problemeServeur: Impossible de communiquer avec le serveur, réessayez plus tard ou contactez l'administrateur.
  questionEmail: Quelle est votre adresse e-mail ?
  adresseIntrouvableTitre: Adresse introuvable
  adresseIntrouvableMessage: Cette adresse e-mail n'est pas référencée dans notre base de données
  changerMdp: Changez votre mot de passe
  lienReinitialisationEnvoye: >-
    <b>Un lien de réinitialisation</b> a été envoyé à
    l'adresse e-mail indiquée.<br>
    <b>Cliquez sur ce lien</b> pour changer votre mot de passe.

en:
  compteInactif: This account has not been activated yet. Check your emails. An activation link has normally been sent to you.
  emailNonAssocie: This email address is not associated with any account.
  mdpInvalide: This email address is associated with an account but the password is not valid.
  problemeServeur: Unable to communicate with the server, try again later or contact the administrator.
  questionEmail: What is your email address ?
  adresseIntrouvableTitre: Email address not found
  adresseIntrouvableMessage: This email address is not referenced in our database.
  changerMdp: Change your password
  lienReinitialisationEnvoye: >-
    <b>A reset link</b> has been sent to the email address provided.<br>
    <b>Click on this link</b> to change your password.
</i18n>
