<template>
  <div class="content mb-5">
    <!------------->
    <!-- FRENCH -->
    <!------------->
    <div v-if="$i18n.locale === 'fr'">
      <h1 class="title has-text-primary has-text-centered is-2">
        Politique de confidentialité
      </h1>
      <div>
        La présente "Politique de confidentialité" explicite les données
        personnelles collectées par le site
        <em>monpetitcarbone.fr</em> et par les services auxquels vous accédez
        via cette application Web. Elle vous explique pourquoi vos données sont
        recueilles et comment elles sont traitées. Vous y trouverez également en
        bas de page les coordonnées en cas des questions ou de demandes
        relatives à vos données (accès, rectification, effacement).
        <br />
        <br />
        Les données renseignées dans cette application Web ne sont en aucun
        partagées à des tiers, peuvent être supprimées à tout moment et ne sont
        demandées que dans le but de fournir une empreinte carbone la plus
        pertinente possible et de faciliter la gestion des données renseignées
        par l'utilisateur.
      </div>
      <br />
      <section>
        <h1>Le site monpetitcarbone.fr</h1>

        <div>
          <strong>Les données collectées :</strong> adresse e-mail. Par
          ailleurs, un cookie permettant de gérer l'authentification de
          l'utilisateur est stocké sur sa session en local.
          <br />
          <strong>Finalités :</strong> fonctionnement et optimisation de la
          navigation sur notre site.
          <br />
          <strong>Base légale pour le traitement des données : </strong> les
          cookies utilisés par le site <em>monpetitcarbone.fr</em>
          sont d'ordre technique (exemple : gestion de l'authentification) et en
          accord avec la réglementation. Ils ne nécessitent pas un consentement
          préalable de l'utilisateur.
          <br />
          <strong>Qui a accès aux données :</strong> les données sont
          exclusivement stockées sur votre ordinateur.
          <br />
          <strong>Vos droits :</strong> les navigateurs internet offre la
          possibilité d’effacer les cookies ou de prévenir leur installation.
          Consulter rubrique d’aide de votre navigateur pour gérer ces options.
          <br />
          <strong>Durée de conservation :</strong> 5 ans.
          <br />
          <strong>Processeurs tiers :</strong> aucun.
        </div>
      </section>

      <br />
      <section>
        <h1>Le formulaire relatif aux missions</h1>

        <div>
          <strong>Les données collectées :</strong> Date de départ, date de
          retour, ville et pays de départ, ville et pays de destination et
          villes et pays de transit.
          <br />
          <strong>Finalités :</strong> calcul de l'empreinte carbone de la
          mission.
          <br />
          <strong>Qui a accès aux données :</strong> Seuls vous et
          l'administrateur du site ont accès aux données.
          <br />
          <strong>Vos droits :</strong> Vous pouvez choisir à tout moment de
          supprimer les données renseignées.
          <br />
          <strong>Durée de conservation :</strong> 5 ans.
          <br />
          <strong>Processeurs tiers :</strong> aucun.
        </div>
      </section>

      <br />
      <section>
        <h1>Le formulaire relatif aux déplacements domicile-travail</h1>

        <div>
          <strong>Les données collectées :</strong> Année, nombre de jours,
          distances associées à chaque moyen de transport
          <br />
          <strong>Finalités :</strong> calcul de l'empreinte carbone du
          déplacement.
          <br />
          <strong>Qui a accès aux données :</strong> Seuls vous et
          l'administrateur du site ont accès aux données.
          <br />
          <strong>Vos droits :</strong> Vous pouvez choisir à tout moment de
          supprimer les données renseignées.
          <br />
          <strong>Durée de conservation :</strong> 5 ans.
          <br />
          <strong>Processeurs tiers :</strong> aucun.
        </div>
      </section>

      <br />
      <section>
        <h1>Faites exercer vos droits</h1>
        En vertu du
        <a
          class="link"
          href="https://ec.europa.eu/commission/priorities/justice-and-fundamental-rights/data-protection/2018-reform-eu-data-protection-rules_en"
          target="_blank"
        >
          règlement général sur la protection des données</a
        >
        (RGPD), vous disposez d’un certain nombre de droits sur vos données
        (consultez le site Web de la
        <a
          class="link"
          href="https://www.cnil.fr/fr/reglement-europeen-protection-donnees"
          target="_blank"
          >Commission nationale de l’informatique et des libertés (CNIL)</a
        >
        pour un aperçu de
        <a
          class="link"
          href="https://www.cnil.fr/fr/les-droits-pour-maitriser-vos-donnees-personnelles"
          target="_blank"
          >ceux-ci</a
        >).
        <br />
        Vous disposez d'un droit d'accès, de rectification, de suppression,
        d'opposition (pour un motif légitime) ou de limitation d'utilisation des
        données vous concernant, conformément à la loi n ° 78-17 du 6 janvier
        1978 relative à l'informatique, aux fichiers et aux libertés, et avec le
        règlement de l'UE 2016/679 relatif à la protection des personnes
        physiques à l'égard du traitement des données à caractère personnel et à
        la libre circulation de ces données.
        <br />
        Après avoir contacté Joël Thanwerdas (joel.thanwerdas@gmail.com), si
        vous estimez que vos droits sur vos données ne sont pas respectés, vous
        pouvez adresser une réclamation auprès de la
        <a
          class="link"
          target="_blank"
          href="https://www.cnil.fr/fr/webform/adresser-une-plainte"
          >CNIL</a
        >.
      </section>
    </div>

    <!------------->
    <!-- ENGLISH -->
    <!------------->
    <div v-if="$i18n.locale === 'en'">
      <h1 class="title has-text-primary has-text-centered is-2">
        Privacy Policy
      </h1>
      <div>
        This "Privacy Policy" explains the personal data collected by the site
        <em>monpetitcarbone.fr</em> and by the services you access via this web
        application. It explains why your data is collected and how it is
        processed. You will also find at the bottom of the page the contact
        information in case of questions or requests about your data (access,
        rectification, deletion).
        <br />
        <br />
        The data entered in this web application is not shared with any third
        party, can be deleted at any time and is only requested for the purpose
        of providing the most relevant carbon footprint and to facilitate the
        management of the data entered by the user.
      </div>
      <br />
      <section>
        <h1>The monpetitcarbone.fr website</h1>

        <div>
          <strong>The data collected:</strong> email address. Moreover, a cookie
          allowing to manage the authentication of the user is stored on his
          session locally.
          <br />
          <strong>Finalities:</strong> operation and optimization of the
          navigation on our site.
          <br />
          <strong>Legal basis for data processing:</strong> the cookies used by
          the site <em>monpetitcarbone.fr</em>
          are of a technical nature (example: authentication management) and in
          accordance with the regulations. They do not require prior consent of
          the user.
          <br />
          <strong>Who has access to the data:</strong> the data is exclusively
          stored on your computer.
          <br />
          <strong>Your rights:</strong> internet browsers offer the possibility
          to delete cookies or prevent their installation. Consult the help
          section of your browser to manage these options.
          <br />
          <strong>Storage duration:</strong> 5 years.
          <br />
          <strong>Third party processors:</strong> none.
        </div>
      </section>

      <br />
      <section>
        <h1>The Travel Form</h1>

        <div>
          <strong>The data collected:</strong> Departure date, return date
          return, departure city and country, destination city and country, and
          transit cities and countries.
          <br />
          <strong>Finalities:</strong> calculation of the carbon footprint of
          the mission.
          <br />
          <strong>Who has access to the data:</strong> Only you and the site
          administrator have access to the data.
          <br />
          <strong>Your rights:</strong> You can choose at any time to delete the
          data you have entered.
          <br />
          <strong>Retention period:</strong> 5 years.
          <br />
          <strong>Third party processors:</strong> none.
        </div>
      </section>

      <br />
      <section>
        <h1>The Commute form</h1>

        <div>
          <strong>The data collected:</strong> Year, number of days, distances
          associated with each transport mode.
          <br />
          <strong>Finalities:</strong> calculation of the carbon footprint of
          the trip.
          <br />
          <strong>Who has access to the data:</strong> Only you and the site
          administrator have access to the data.
          <br />
          <strong>Your rights:</strong> You can choose at any time to delete the
          data you have entered.
          <br />
          <strong>Retention period:</strong> 5 years.
          <br />
          <strong>Third party processors:</strong> none.
        </div>
      </section>

      <br />
      <section>
        <h1>Exercise Your Rights</h1>
        Under the
        <a
          class="link"
          href="https://ec.europa.eu/commission/priorities/justice-and-fundamental-rights/data-protection/2018-reform-eu-data-protection-rules_en"
          target="_blank"
        >
          general data protection regulation</a
        >
        (GDPR), you have a number of rights over your data (check out the
        <a
          class="link"
          href="https://www.cnil.fr/fr/reglement-europeen-protection-donnees"
          target="_blank"
          >Commission nationale de l'informatique et des libertés (CNIL)</a
        >
        for an overview of
        <a
          class="link"
          href="https://www.cnil.fr/fr/les-droits-pour-maitriser-vos-donnees-personnelles"
          target="_blank"
          >these</a
        >).
        <br />
        You have the right to access, rectify, delete, opposition (for a
        legitimate reason) or to limit the use of the data data concerning you,
        in accordance with the law n ° 78-17 of January 6 1978 relating to data
        processing, files and freedoms, and with the EU Regulation 2016/679 on
        the protection of individuals with regard to the processing of personal
        data and the the free movement of such data.
        <br />
        After contacting Joel Thanwerdas (joel.thanwerdas@gmail.com), if you
        believe that your rights regarding your data are not respected, you may
        file a complaint with the
        <a
          class="link"
          target="_blank"
          href="https://www.cnil.fr/fr/webform/adresser-une-plainte"
          >CNIL</a
        >.
      </section>
    </div>
  </div>
</template>

<script>
export default {
  name: 'NoticeComponent',
  data() {
    return {}
  },
  computed: {},
}
</script>

<style></style>
