<template>
  <div>
    <b-loading v-model="isLoading" is-full-page></b-loading>
    <b-modal
      :active.sync="isModalNoticeActive"
      trap-focus
      width="60%"
      has-modal-card
    >
      <div class="modal-card" style="width: auto">
        <header class="modal-card-head">
          <p class="modal-card-title">{{ $t('politiqueConfidentialite') }}</p>
          <button
            type="button"
            class="delete"
            @click="isModalNoticeActive = false"
          />
        </header>
        <section class="modal-card-body content">
          <NoticeComponent />
        </section>
      </div>
    </b-modal>

    <ValidationObserver ref="form">
      <div class="card has-background-white-ter">
        <header class="card-header">
          <p
            class="card-header-title is-centered has-background-secondary has-text-white"
          >
            {{ $t('creerUnCompte') }}
          </p>
        </header>
        <div class="content mt-3">
          <section class="card-content">
            <form @submit.prevent="validate()">
              <b-field grouped group-multiline>
                <ValidationProvider
                  ref="email_validator"
                  v-slot="{ errors, pending }"
                  slim
                  rules="required|email|unique_email"
                  name="email1"
                >
                  <b-field
                    :label="$t('adresseEmail')"
                    expanded
                    :message="errors"
                    :loading="pending"
                    :type="{ 'is-danger': errors[0] }"
                  >
                    <b-input
                      v-model="form.email1"
                      expanded
                      size="is-medium"
                      placeholder="example@host.com"
                    ></b-input>
                  </b-field>
                </ValidationProvider>
                <ValidationProvider
                  v-slot="{ errors }"
                  slim
                  rules="required|same_email:@email1"
                >
                  <b-field
                    :label="$t('adresseEmailConf')"
                    expanded
                    :message="errors"
                    :type="{ 'is-danger': errors[0] }"
                  >
                    <b-input
                      v-model="form.email2"
                      expanded
                      size="is-medium"
                      placeholder="example@host.com"
                    ></b-input>
                  </b-field>
                </ValidationProvider>
              </b-field>

              <b-field grouped group-multiline>
                <ValidationProvider
                  v-slot="{ errors }"
                  slim
                  rules="required|min:6"
                  name="password1"
                >
                  <b-field
                    :label="$t('mdp')"
                    expanded
                    :message="errors"
                    :type="{ 'is-danger': errors[0] }"
                  >
                    <b-input
                      v-model="form.password1"
                      size="is-medium"
                      type="password"
                      :placeholder="$t('mdp')"
                    ></b-input>
                  </b-field>
                </ValidationProvider>
                <ValidationProvider
                  v-slot="{ errors }"
                  slim
                  rules="required|same_password:@password1"
                >
                  <b-field
                    :label="$t('mdpConf')"
                    expanded
                    :message="errors"
                    :type="{ 'is-danger': errors[0] }"
                  >
                    <b-input
                      v-model="form.password2"
                      size="is-medium"
                      type="password"
                      :placeholder="$t('mdp')"
                      @keydown.enter="validate"
                    ></b-input>
                  </b-field>
                </ValidationProvider>
              </b-field>

              <b-checkbox
                v-model="form.noticeAcceptee"
                size="is-medium"
                class="mt-5 mb-2"
                expanded
              >
                <p class="is-size-5 has-text-weight-bold">
                  {{ $t('politiqueConfCase') }}
                  <a @click.prevent="isModalNoticeActive = true">
                    {{ $t('politiqueConfidentialite') }}</a
                  >
                </p>
              </b-checkbox>
              <p v-if="noticeError" class="has-text-danger is-size-6">
                {{ $t('caseErreur') }}
              </p>

              <button
                class="button is-dark is-medium is-fullwidth mt-5"
                type="submit"
              >
                {{ $t('valider') }}
              </button>
            </form>
          </section>
        </div>
      </div>
    </ValidationObserver>
  </div>
</template>

<script>
import { ValidationObserver, ValidationProvider } from 'vee-validate'
import NoticeComponent from '@/components/Notice.vue'
export default {
  name: 'Register',
  components: {
    ValidationObserver,
    ValidationProvider,
    NoticeComponent,
  },
  data() {
    return {
      isModalNoticeActive: false,
      isLoading: false,
      noticeError: null,
      form: {
        email1: null,
        email2: null,
        password1: null,
        password2: null,
        noticeAcceptee: false,
      },

      error: false,
    }
  },
  methods: {
    validate() {
      this.$refs.form.validate().then((success) => {
        if (!success) {
          return
        }
        if (!this.form.noticeAcceptee) {
          this.noticeError = true
          return
        }
        this.submit()
      })
    },
    submit() {
      this.isLoading = true
      const email = this.form.email1.toLowerCase()
      const password = this.form.password1
      const fd = new FormData()
      fd.append('email', email)
      fd.append('password', password)
      return new Promise((resolve, reject) => {
        this.$usersService
          .register(fd)
          .then((data) => {
            resolve(data)
          })
          .catch((err) => {
            reject(err)
          })
      })
        .then(() => {
          this.isLoading = false
          this.$buefy.dialog.alert({
            title: this.$t('confirmerEmail'),
            type: 'is-success',
            message: this.$t('lienConfirmation'),
            confirmText: 'OK',
            onConfirm: () =>
              this.$router.push(this.localePath({ name: 'index' })),
          })
          this.$emit('accountCreated', email)
        })
        .catch(() => {
          this.error = true
        })
    },
  },
}
</script>

<style scoped>
.break {
  flex-basis: 100%;
  height: 0;
}
</style>

<i18n lang="yaml">
fr:
  politiqueConfCase: En cochant cette case, vous déclarez avoir pris connaissance de la
  caseErreur: Vous devez cocher cette case pour vous inscrire.
  confirmerEmail: Confirmez votre addresse e-mail
  lienConfirmation: Un lien de confirmation a été envoyé à l'adresse e-mail indiquée.

en:
  politiqueConfCase: By checking this box, you declare that you have read the
  caseErreur: You need to check this box to register.
  confirmerEmail: Confirm your email
  lienConfirmation: An activation link has been sent to the email address you provided.
</i18n>
