<template>
  <div class="modal-card">
    <section class="modal-card-body">
      <b-button
        type="is-danger"
        class="is-pulled-right"
        icon-left="close"
        @click="$parent.close()"
      />
      <b-button
        type="is-primary"
        class="is-pulled-left"
        icon-left="download"
        size="is-medium"
        :loading="loadingDownload"
        @click="printFiche()"
      >
      </b-button>

      <div id="fiche_mission" class="container px-5 mt-10">
        <div>
          <p class="has-text-centered title heading is-2">
            {{ mission.nomVoyage }}
          </p>
          <p class="heading is-size-6 is-pulled-right">
            <span class="is-size-7">{{ $t('creeeLe') }}</span>
            <span>{{
              $moment(mission.dateCreation).format('DD/MM/YYYY')
            }}</span>
          </p>
          <p class="heading is-size-5 has-text-weight-bold">
            <span class="is-size-7">{{ $t('depart') }} : </span>
            <span>{{ $moment(mission.dateDepart).format('DD/MM/YYYY') }} </span>
          </p>

          <p
            v-if="mission.dateRetour"
            class="heading is-size-5 has-text-weight-bold"
          >
            <span class="is-size-7">{{ $t('retour') }} : </span>
            <span>{{ $moment(mission.dateRetour).format('DD/MM/YYYY') }}</span>
          </p>
        </div>

        <div class="columns mt-5">
          <div class="column">
            <div
              class="box has-text-white has-text-weight-bold has-text-centered has-background-carbone"
            >
              <p class="heading">{{ $t('empreinteCarbone') }}</p>
              <p class="is-size-4">
                {{ mission.carbone | splitNumber }} kgCO2e
              </p>
            </div>
          </div>
          <div class="column">
            <div
              class="box has-text-white has-text-weight-bold has-text-centered has-background-distance"
            >
              <p class="heading">{{ $t('distance') }}</p>
              <p class="is-size-4">{{ mission.distance | splitNumber }} km</p>
            </div>
          </div>
        </div>
        <!-- <TravelStepsComponent :mission="mission" /> -->

        <b-table class="is-primary mt-10 is-size-6" striped :data="sections">
          <b-table-column
            v-slot="props"
            header-class="is-primary"
            field="num"
            label="Section"
          >
            {{ props.row.num }}
          </b-table-column>

          <b-table-column
            v-slot="props"
            header-class="is-primary"
            field="modeDeplacement"
            :label="$t('modeDeplacement')"
          >
            {{ props.row.modeDeplacement }}
          </b-table-column>

          <b-table-column
            v-slot="props"
            header-class="is-primary"
            field="villeDepart"
            :label="$t('villeDepart')"
            width="200"
          >
            {{ props.row.villeDepart }}
          </b-table-column>

          <b-table-column
            v-slot="props"
            header-class="is-primary"
            field="paysDepart"
            :label="$t('paysDepart')"
          >
            {{
              ISO3166.filter((obj) => obj.iso == props.row.paysDepart)[0][
                'nom_' + $i18n.locale
              ]
            }}
          </b-table-column>

          <b-table-column
            v-slot="props"
            header-class="is-primary"
            field="villeDestination"
            :label="$t('villeArrivee')"
            width="200"
          >
            {{ props.row.villeDestination }}
          </b-table-column>

          <b-table-column
            v-slot="props"
            header-class="is-primary"
            field="paysDestination"
            :label="$t('paysArrivee')"
          >
            {{
              ISO3166.filter((obj) => obj.iso == props.row.paysDestination)[0][
                'nom_' + $i18n.locale
              ]
            }}
          </b-table-column>

          <b-table-column
            v-slot="props"
            header-class="is-primary"
            field="distance"
            :label="$t('distance')"
            width="40"
          >
            <span class="tag-pdf has-background-distance">
              <span>{{ props.row.distance | splitNumber }}</span>
              <span>km</span>
            </span>
          </b-table-column>

          <b-table-column
            v-slot="props"
            header-class="is-primary"
            field="carbone"
            width="40"
            :label="$t('empreinte')"
          >
            <div class="tag-pdf has-background-carbone">
              <span>{{ props.row.carbone | splitNumber }}</span>
              <span>kgCO2e</span>
            </div>
          </b-table-column>
        </b-table>
      </div>
    </section>
  </div>
</template>

<script>
import html2canvas from 'html2canvas'
import jsPDF from 'jspdf'
import ISO3166 from '@/../data/ISO3166.json'
export default {
  name: 'DetailsMissionComponent',
  components: {},
  props: {
    mission: {
      type: Object,
      required: true,
      default: null,
    },
  },
  data() {
    return {
      sections: [],
      ISO3166,
      loadingDownload: false,
      iconsMission: {
        Avion: 'airplane',
        Train: 'train',
        Voiture: 'car',
        Taxi: 'taxi',
        Métro: 'subway',
        RER: 'subway-variant',
        Bus: 'bus',
        Ferry: 'ferry',
        Tramway: 'subway-variant',
      },
    }
  },
  created() {
    this.sections.push(...this.mission.sections)
    if (this.mission.isAllerRetour) {
      const sectionsCopy = JSON.parse(JSON.stringify(this.sections))
      for (let i = 0; i < sectionsCopy.length; i++) {
        const sectionCopy = sectionsCopy[i]
        ;[sectionCopy.villeDepart, sectionCopy.villeDestination] = [
          sectionCopy.villeDestination,
          sectionCopy.villeDepart,
        ]
        ;[sectionCopy.paysDepart, sectionCopy.paysDestination] = [
          sectionCopy.paysDestination,
          sectionCopy.paysDepart,
        ]
        sectionCopy.carbone = this.sections[i].carbone
      }
      this.sections.push(...sectionsCopy.reverse())
    }

    for (let i = 0; i < this.sections.length; i++) {
      this.sections[i].num = i + 1
    }
  },
  methods: {
    printFiche() {
      this.loadingDownload = true
      window.scrollTo(0, 0)
      setTimeout(() => {
        const pdf = new jsPDF('p', 'mm', 'a4', true)
        const element = document.getElementById('fiche_mission')
        const width = pdf.internal.pageSize.getWidth()
        html2canvas(element).then((canvas) => {
          const ratio = canvas.height / canvas.width
          const image = canvas.toDataURL('image/png')
          pdf.addImage(image, 'JPEG', 0, 20, width, ratio * width)
          pdf.save('Fiche_mission_' + this.mission.id + '.pdf')
          this.loadingDownload = false
        })
      }, 50)
    },
  },
}
</script>

<style lang="scss" scoped>
.tag-pdf {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 4px;
  color: white;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 1rem;
  font-weight: bold;
  height: 2em;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: space-between;
  line-height: 1.5;
  padding-left: 0.75em;
  padding-right: 0.75em;
  white-space: nowrap;
  width: 100% !important;
}

.tag-pdf span {
  position: relative;
}

.tag-pdf span:first-child {
  width: 100%;
  text-align: right;
}

.tag-pdf span:nth-child(2) {
  font-size: 0.75rem;
  margin-left: 0.5rem;
}
</style>

<i18n lang="yaml">
fr:
  creeeLe: Créée le

en:
  creeeLe: Created on
</i18n>
