<template>
  <div class="modal-card">
    <section class="modal-card-body">
      <b-button
        type="is-danger"
        class="is-pulled-right"
        icon-left="close"
        @click="$parent.close()"
      />
      <b-button
        type="is-primary"
        class="is-pulled-left"
        icon-left="download"
        size="is-medium"
        :loading="loadingDownload"
        @click="printFiche()"
      >
      </b-button>

      <div id="fiche_deplacementdt" class="container px-5 mt-10">
        <div>
          <p class="has-text-centered title heading is-2">
            {{ deplacementdt.nomVoyage }}
          </p>
          <p class="heading is-size-6 is-pulled-right">
            <span class="is-size-7">{{ $t('creeeLe') }} </span>
            <span>{{
              $moment(deplacementdt.dateCreation).format('DD/MM/YYYY')
            }}</span>
          </p>
          <p class="heading is-size-5 has-text-weight-bold">
            <span class="is-size-7">{{ $t('annee') }} : </span>
            <span>{{ deplacementdt.annee }} </span>
          </p>
          <p class="heading is-size-5 has-text-weight-bold">
            <span class="is-size-7">{{ $t('nombreDeplacements') }} : </span>
            <span>{{ deplacementdt.nbJoursTravail }}</span>
          </p>
        </div>

        <div class="columns mt-5">
          <div class="column">
            <div
              class="box has-text-white has-text-weight-bold has-text-centered has-background-carbone"
            >
              <p class="heading">{{ $t('empreinteCarbone') }}</p>
              <p class="is-size-4">
                {{ deplacementdt.carbone | splitNumber }} kgCO2e
              </p>
            </div>
          </div>
          <div class="column">
            <div
              class="box has-text-white has-text-weight-bold has-text-centered has-background-distance"
            >
              <p class="heading">{{ $t('distance') }}</p>
              <p class="is-size-4">
                {{ deplacementdt.distance | splitNumber }} km
              </p>
            </div>
          </div>
        </div>

        <b-table class="is-primary mt-10 is-size-6" :data="dataTable" striped>
          <b-table-column
            v-slot="props"
            header-class="is-primary"
            field="modeDeplacement"
            :label="$t('modeDeplacement')"
          >
            {{ props.row.modeDeplacement }}
          </b-table-column>

          <b-table-column
            v-slot="props"
            header-class="is-primary"
            width="60"
            field="distance"
            :label="$t('distance')"
          >
            <span class="tag-pdf has-background-distance">
              <span>{{ props.row.distance | splitNumber }}</span>
              <span>km</span>
            </span>
          </b-table-column>

          <b-table-column
            v-slot="props"
            header-class="is-primary"
            width="60"
            field="carbone"
            :label="$t('empreinte')"
          >
            <div class="tag-pdf has-background-carbone">
              <span>{{ props.row.carbone | splitNumber }}</span>
              <span>kgCO2e</span>
            </div>
          </b-table-column>
        </b-table>
      </div>
    </section>
  </div>
</template>

<script>
import html2canvas from 'html2canvas'
import jsPDF from 'jspdf'

const modesDeplacement = {
  marche: 'Marche',
  velo: 'Vélo',
  veloElectrique: 'Vélo Électrique',
  trottinetteElectrique: 'Trottinette Électrique',
  deuxRouesMotorise: 'Moto',
  voiture: 'Voiture',
  bus: 'Bus',
  tramway: 'Tramway',
  train: 'Train',
  rer: 'RER',
  metro: 'Métro',
}

export default {
  name: 'DetailsDeplacementDTComponent',
  components: {},
  props: {
    deplacementdt: {
      type: Object,
      required: true,
      default: null,
    },
  },
  data() {
    return {
      sections: [],
      loadingDownload: false,
    }
  },
  computed: {
    dataTable() {
      const goodData = Object.keys(this.deplacementdt).filter(
        (obj) =>
          this.deplacementdt[obj] > 0 &&
          Object.keys(modesDeplacement).includes(obj)
      )
      return goodData.map((obj) => {
        return {
          modeDeplacement: this.$t(obj),
          distance: this.deplacementdt[obj],
          carbone: this.deplacementdt.getEmissionModeDeplacement(obj),
        }
      })
    },
  },
  created() {},
  methods: {
    printFiche() {
      this.loadingDownload = true
      window.scrollTo(0, 0)
      setTimeout(() => {
        const pdf = new jsPDF('p', 'mm', 'a4', true)
        const element = document.getElementById('fiche_deplacementdt')
        const width = pdf.internal.pageSize.getWidth()
        html2canvas(element).then((canvas) => {
          const ratio = canvas.height / canvas.width
          const image = canvas.toDataURL('image/png')
          pdf.addImage(image, 'JPEG', 0, 20, width, ratio * width)
          pdf.save('Fiche_deplacementdt_' + this.deplacementdt.id + '.pdf')
          this.loadingDownload = false
        })
      }, 50)
    },
  },
}
</script>

<style lang="scss" scoped>
.tag-pdf {
  border-radius: 4px;
  color: white;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
  height: 2em;
  line-height: 1.5;
  padding-left: 0.75em;
  padding-right: 0.75em;
  white-space: nowrap;
  width: 100% !important;
}

.tag-pdf span {
  position: relative;
}

.tag-pdf span:first-child {
  width: 100%;
  text-align: right;
}

.tag-pdf span:nth-child(2) {
  font-size: 0.75rem;
  margin-left: 0.5rem;
}
</style>

<i18n lang="yaml">
fr:
  creeeLe: Créée le
  nombreDeplacements: Nombre de déplacements dans l'année
  tailleAgglomeration: Taille de l'agglomération
  moins100hab: Moins de 100 000 habitants
  entre100et250hab: Entre 100 000 et 250 000 habitants
  plus250hab: Plus de 250 000 habitants
  motorisation: Motorisation
  essence: Essence
  diesel: Diesel
  hybride: Hybride
  electrique: Électrique
  gpl: GPL
  gnv: GNV
  nombrePersTransportees: Nombre de personnes transportées
en:
  creeeLe: Created on
  nombreDeplacements: Number of commutes during the year
  tailleAgglomeration: Size of the agglomeration
  moins100hab: Less than 100 000 inhabitants
  entre100et250hab: Between 100 000 and 250 000 inhabitants
  plus250hab: More than 250 000 inhabitants
  motorisation: Motorization
  essence: Petrol
  diesel: Diesel
  hybride: Hybrid
  electrique: Electric
  gpl: LPG
  gnv: NGV
  nombrePersTransportees: Number of people carried
</i18n>
