/* ==========================================================================
Main SCSS file
========================================================================== */
@import "variables.scss";

// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
$family-primary: "Nunito";
$body-size: 12px;
.tab-content {
  background-color: $white-ter !important;
}
$tabs-toggle-link-active-background-color: $primary;

.field.is-grouped.is-grouped-multiline {
  margin-bottom: 0rem !important;
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.2s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}


// $tablet: 1152px + (2 * $gap);
// $desktop: 1344px + (2 * $gap);
// $widescreen: 1344px + (2 * $gap);

// Partials scss
@import 'partials/colors';
@import 'partials/helpers';
@import 'partials/buttons';
@import 'partials/footer';
@import 'partials/menu';

@import "~bulma";
@import "~buefy/src/scss/buefy";
