/* ==========================================================================
Main SCSS file / Fresh
========================================================================== */
@import "~bulma/sass/utilities/_all";

// Colors
$primary: #305198;
$primary-invert: findColorInvert($primary);
$secondary: #A13C50;
$secondary-invert: findColorInvert($secondary);

$success: #17802d;
$success-invert: findColorInvert($success);

$link: #305198;
$link-invert: findColorInvert($link);

$distance: #208DBC;
$distance-invert: findColorInvert($distance);
$carbone: #8e6a9e;
$carbone-invert: findColorInvert($carbone);


// Setup $colors to use as bulma classes
$colors: (
    "white": ($white, $black),
    "black": ($black, $white),
    "light": ($light, $light-invert),
    "dark": ($dark, $dark-invert),
    "primary": ($primary, $primary-invert),
    "secondary": ($secondary, $secondary-invert),
    "link": ($link, $link-invert),
    "info": ($info, $info-invert),
    "success": ($success, $success-invert),
    "warning": ($warning, $warning-invert),
    "danger": ($danger, $danger-invert),

    "distance": ($distance, $distance-invert),
    "carbone": ($carbone, $carbone-invert),
);

// Navbar
$navbar-box-shadow-size: 0 2px 0 0 !default;
$navbar-box-shadow-color: $background !default;
$navbar-height: 4rem;

$navbar-item-color: $white;
$navbar-item-hover-color: $white;
$navbar-item-hover-background-color: $secondary;

$navbar-burger-color: $navbar-item-color !default;

$navbar-dropdown-background-color: $white-ter !default;
$navbar-dropdown-arrow: $white;
$navbar-dropdown-boxed-radius: $radius-large !default;
$navbar-dropdown-boxed-shadow: 0 8px 8px bulmaRgba($primary, 0.1), 0 0 0 1px bulmaRgba($primary, 0.1) !default;
$navbar-dropdown-item-hover-color: $white !default;
$navbar-dropdown-item-hover-background-color: $grey-lighter !default;
