<template>
  <section>
    <div class="columns" style="align-items: stretch">
      <div class="column is-2">
        <b-sidebar type="is-light" position="static" fullheight fullwidth open>
          <b-menu>
            <b-menu-list :label="$t('categories')">
              <b-menu-item
                v-for="(category, index) in categories"
                :key="category.name"
                :active="selectedCategoryId == index"
                :label="$t(category.name)"
                :icon="category.icon"
                @click="selectedCategoryId = index"
              ></b-menu-item>
            </b-menu-list>
          </b-menu>
        </b-sidebar>
      </div>
      <div class="column is-10">
        <div class="container is-fluid">
          <div
            :is="categories[selectedCategoryId].component"
            class="pb-10 box has-background-white-ter"
          ></div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import TabMissionComponent from '@/components/tabs/TabMission.vue'
import TabDeplacementDTComponent from '@/components/tabs/TabDeplacementDT.vue'
export default {
  name: 'Calculateur',
  components: {
    TabMissionComponent,
    TabDeplacementDTComponent,
  },
  data() {
    return {
      selectedCategoryId: 0,
      categories: [
        {
          name: 'missions',
          component: 'TabMissionComponent',
          icon: 'earth',
        },
        {
          name: 'domicileTravail',
          component: 'TabDeplacementDTComponent',
          icon: 'briefcase',
        },
      ],
    }
  },
}
</script>

<style lang="scss">
@import '~/assets/scss/variables.scss';
.b-sidebar {
  height: 100%;
}

.menu-list a {
  padding: 1em 1.25em;
  transition: all 0.2s;
}

.menu-list a:not(.is-active):hover {
  background-color: transparentize($primary, 0.8);
}

.menu-label:not(:last-child) {
  padding: 0.75em 1em;
}
</style>
