<template>
  <section class="content">
    <div class="container">
      <h1 class="title is-size-2">
        {{ $t('faireUnRetour') }}
        <span class="subtitle is-size-4 has-text-grey">
          {{ $t('experienceRetour') }}
        </span>
      </h1>

      <p>{{ $t('redigerRetour') }} :</p>
      <ul>
        <li>{{ $t('signalerBug') }}</li>
        <li>{{ $t('proposerPistes') }}</li>
        <li>{{ $t('poserQuestion') }}</li>
        <li>{{ $t('encouragements') }}</li>
      </ul>

      <div v-if="!retourSent" class="mt-10">
        <ValidationObserver ref="form" slim>
          <ValidationProvider v-slot="{ errors }" slim rules="required">
            <b-field
              :label="$t('messageAEnvoyer')"
              :message="errors"
              :type="{ 'is-danger': errors[0] }"
            >
              <b-input
                v-model="retourText"
                maxlength="1500"
                type="textarea"
                :placeholder="$t('ecrivezIci')"
              ></b-input>
            </b-field>
          </ValidationProvider>
        </ValidationObserver>
        <b-button type="is-primary" :loading="isLoading" @click="validate">{{
          $t('envoyerRetour')
        }}</b-button>
      </div>
      <transition
        name="first-class"
        enter-active-class="animated slideInDown faster"
        mode="out-in"
        ><div v-if="retourSent" class="message-sent box is-size-4 mt-10">
          <b-icon
            icon="check"
            type="is-primary"
            class="has-background-white"
            style="border-radius: 50%"
            size="is-large"
          ></b-icon>

          <p class="mt-5">
            {{ $t('merciRetour') }}
          </p>
        </div>
      </transition>
    </div>
  </section>
</template>

<script>
import { ValidationObserver, ValidationProvider } from 'vee-validate'

export default {
  name: 'FaireRetour',
  components: {
    ValidationObserver,
    ValidationProvider,
  },
  data() {
    return {
      retourText: null,
      retourSent: false,
      isLoading: false,
    }
  },
  methods: {
    validate() {
      this.$refs.form.validate().then((success) => {
        if (!success) {
          return
        }
        this.isLoading = true
        const data = { retour: this.retourText }
        this.retourSent = true
        this.$usersService.send_feedback(data).then(() => {
          this.retourSent = true
          this.isLoading = false
        })
      })
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/scss/variables.scss';
.message-sent {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  background-color: transparentize($primary, 0.2);
  height: 200px;
}
</style>

<i18n lang="yaml">
fr:
  faireUnRetour: Faites un retour
  experienceRetour: sur votre Expérience avec MonPetitCarbone
  redigerRetour: Vous pouvez ici rédiger un retour pour
  signalerBug: Signaler un bug éventuel
  proposerPistes: Proposer des pistes d'amélioration
  poserQuestion: Poster une question
  encouragements: Ou bien même envoyer des mots d'encouragement
  messageAEnvoyer: Message à envoyer
  ecrivezIci: Écrivez ici votre retour...
  envoyerRetour: Envoyer votre retour
  merciRetour: Votre message a bien été envoyé. Merci beaucoup pour votre retour !
en:
  faireUnRetour: Send a feedback
  experienceRetour: about your experiences with MonPetitCarbone
  redigerRetour: Here, you can write a feedback to
  signalerBug: Report a potential bug
  proposerPistes: Suggest ways to improve
  poserQuestion: Ask a question
  encouragements: Or even send some encouragement
  messageAEnvoyer: Message to send
  ecrivezIci: Write your feedback here...
  envoyerRetour: Send your feedback
  merciRetour: Your message has been successfully sent. Thank you very much for your feedback !
</i18n>
