<template>
  <section>
    <div class="columns">
      <div class="column is-2">
        <b-sidebar type="is-light" position="static" fullwidth open>
          <b-menu>
            <b-menu-list :label="$t('categories')">
              <b-menu-item
                v-for="category in Object.keys(categories)"
                :key="category"
                :active="selectedCategory == category"
                :label="$t(category)"
                :icon="categoriesIcons[category]"
                @click="selectedCategory = category"
              ></b-menu-item>
            </b-menu-list>
          </b-menu>
        </b-sidebar>
      </div>

      <div class="column is-10">
        <div class="container is-fluid">
          <div class="columns">
            <div class="column is-7">
              <div class="card">
                <div class="card-header has-background-primary">
                  <div class="card-header-title has-text-white">
                    {{ $t('chartCombi') }}
                  </div>
                </div>
                <div class="card-header-title sector-chart"></div>
                <div class="card-content">
                  <HighChartCombi
                    :data="data"
                    :selected-category="selectedCategory"
                    :categories="categories"
                    @setSelectedYear="
                      (year) => {
                        selectedYear = year
                      }
                    "
                  />
                </div>
              </div>
            </div>

            <div class="column is-5">
              <div class="card">
                <div class="card-header has-background-primary">
                  <div class="card-header-title has-text-white">
                    {{ $t('chartDonut') }}
                  </div>
                </div>
                <div class="card-content">
                  <b-field :label="$t('analyseAnnee')">
                    <b-select v-model="selectedYear" expanded>
                      <option
                        v-for="(item, index) in $time_window"
                        :key="index"
                      >
                        {{ item }}
                      </option>
                    </b-select>
                  </b-field>
                  <HighChartDonut
                    :data="data"
                    :selected-year="selectedYear"
                    :selected-category="selectedCategory"
                    :categories="categories"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import HighChartCombi from '@/components/charts/HighChartCombi.vue'
import HighChartDonut from '@/components/charts/HighChartDonut.vue'
export default {
  name: 'Graphiques',
  components: {
    HighChartCombi,
    HighChartDonut,
  },
  data() {
    return {
      data: null,
      isComparer: false,
      selectedCategory: 'total',
      selectedYear: this.$moment().year(),
      categoriesIcons: {
        total: 'sigma',
        missions: 'earth',
        domicileTravail: 'briefcase',
      },
      categories: {
        total: ['missions', 'domicileTravail'],
        missions: [
          'avion',
          'voiture',
          'train',
          'taxi',
          'metro',
          'rer',
          'bus',
          'bus',
          'tramway',
          'ferry',
        ],
        domicileTravail: [
          'marche',
          'velo',
          'veloElectrique',
          'trottinetteElectrique',
          'deuxRouesMotorise',
          'voiture',
          'bus',
          'tramway',
          'train',
          'rer',
          'metro',
        ],
      },
      loading: true,
    }
  },
  created() {
    this.getData()
  },
  methods: {
    async getData() {
      const response = await this.$visualisationService.getChartData()
      this.data = response.data
    },
  },
}
</script>

<style lang="scss"></style>

<i18n lang="yaml">
fr:
  chartCombi: Évolution des catégories au cours du temps
  chartDonut: Répartition en catégories pour une année donnée
  analyseAnnee: Quelle année souhaitez-vous analyser ?
en:
  chartCombi: Categories evolution in time
  chartDonut: Categories distribution for a specific year
  analyseAnnee: Which year do you want to analyze ?
</i18n>
