<template>
  <section style="margin-top: -40px">
    <div class="container is-fluid">
      <div class="columns is-centered is-vcentered">
        <div class="column is-5 has-text-justified content">
          <img
            src="~/assets/images/logos/logo.png"
            alt="Logo Mon Petit Carbone"
            style="display: flex; max-height: 200px; margin: auto"
          />
          <div class="is-size-5">
            <p class="mt-5" v-html="$t('presentation')"></p>
            <div class="mt-4" v-html="$t('categories')"></div>
          </div>
          <div class="has-text-centered mt-10">
            <b-button
              v-if="isLogin"
              class="my-3 big-button px-8"
              icon-left="account-plus"
              size="is-large"
              type="is-secondary"
              @click="isLogin = false"
            >
              {{ $t('creerUnCompte') }}</b-button
            >
            <b-button
              v-else
              class="my-3 big-button px-8"
              icon-left="login"
              size="is-large"
              type="is-primary"
              @click="isLogin = true"
              >{{ $t('seConnecter') }}</b-button
            >
          </div>
        </div>
        <div class="column is-offset-1 is-5">
          <transition
            name="first-class"
            enter-active-class="animated fadeInDown faster"
            mode="out-in"
          >
            <div is="Login" v-if="isLogin" :email="email" />
            <div
              is="Register"
              v-else
              @accountCreated="
                (emailAccount) => {
                  isLogin = true
                  email = emailAccount
                }
              "
            />
          </transition>
        </div>
      </div>
    </div>
    <div class="has-background-white-ter mt-8">
      <div class="container is-fluid">
        <div class="columns section">
          <div class="column is-8">
            <b-carousel
              :indicator-inside="false"
              :interval="15000"
              icon-size="is-large"
              @change="changeIndexCarousel($event)"
            >
              <b-carousel-item v-for="(item, i) in images" :key="i">
                <span class="image is-main">
                  <img
                    :src="require(`~/assets/images/screenshots/${item.url}`)"
                  />
                </span>
              </b-carousel-item>
              <template #indicators="props">
                <span class="al image mt-5">
                  <img
                    :src="
                      require(`~/assets/images/screenshots/${
                        images[props.i].url
                      }`)
                    "
                    :title="props.i"
                  />
                </span>
              </template>
            </b-carousel>
          </div>
          <div class="column is-4">
            <p class="title is-2">
              {{ indexCarousel + 1 }} - {{ $t(images[indexCarousel].title) }}
            </p>
            <p class="is-size-4 has-text-justified">
              {{ $t(images[indexCarousel].text) }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  name: 'Home',
  data() {
    return {
      email: null,
      isLogin: true,
      showCards: false,
      indexCarousel: 0,
      images: [
        {
          title: 'calculateur',
          url: 'screenshot1.png',
          text: 'screenshot_one',
        },
        {
          title: 'vueDensemble',
          url: 'screenshot2.png',
          text: 'screenshot_two',
        },
        {
          title: 'formMissions',
          url: 'screenshot3.png',
          text: 'screenshot_three',
        },
        {
          title: 'formDT',
          url: 'screenshot4.png',
          text: 'screenshot_four',
        },
      ],
    }
  },
  computed: {
    ...mapGetters(['isAuthenticated']),
  },
  mounted() {
    this.showCards = true
  },
  methods: {
    changeIndexCarousel(i) {
      this.indexCarousel = i
    },
    redirect(url) {
      window.open(url, '_blank')
    },
  },
}
</script>

<style scoped>
.card:hover {
  box-shadow: rgba(0, 0, 0, 0.22) 0px 19px 43px;
  transform: translate3d(0px, -1px, 0px);
  cursor: pointer;
}

.is-main img {
  border: 2px solid black;
  height: auto;
  margin: auto;
}

.is-active .al img {
  border: 1px solid black;
  filter: grayscale(0%);
}
.al img {
  border: 1px solid transparent;
  filter: grayscale(100%);
  max-height: 100px;
}
</style>

<i18n lang="yaml">
fr:
  'presentation': >-
    MonPetitCarbone vous permet de suivre gratuitement votre <b>empreinte carbone professionnelle</b>
    dans le temps. <b>Il est à destination de chacun</b> mais est particulièrement adapté pour le personnel de la recherche en
    France. Cet outil est à <b>vocation pédagogique</b> et les données renseignées par les utilisateurs ne seront <b>jamais données ou vendues à 
    des tiers</b>.

  categories: >-
    <p>Les catégories implémentées pour le moment sont :</p>
    <ul>
      <li>Les missions (déplacements professionnels)</li>
      <li>Les déplacements domicile-travail</li>
    </ul>

  screenshot_one: >-
    Le calculateur est un tableau de bord vous permettant d'enregistrer vos données pour chaque année 
    et pour chaque catégorie que l'outil propose. Ce calculateur vous fournit aussi l'empreinte carbone de chaque 
    élément déjà renseigné.

  screenshot_two: >-
    La vue d'ensemble fournit des graphiques vous permettant de vous plonger dans vos données, 
    par exemple en analysant l'évolution de votre empreinte carbone professionnelle au fil des années 
    ou en isolant la catégorie d'émissions qui contribue le plus à votre empreinte.

  screenshot_three: >-
    Ce formulaire vous permet de renseigner une nouvelle mission en renseignant les étapes et
    les modes de déplacements associés aux différentes sections de votre voyage. L'empreinte carbone de 
    votre parcours est notamment calculée en temps réel pour vous permettre de comparer l'impact des différents 
    modes de déplacements entre eux.

  screenshot_four: >-
    Ce formulaire vous permet de renseigner un déplacement domicile-travail, c'est à dire un trajet que vous 
    effectuez régulièrement pour vous rendre sur votre lieu de travail.  Plusieurs modes de déplacements sont proposés 
    et l'empreinte carbone de votre parcours est notamment calculée  en temps réel pour vous permettre de comparer 
    l'impact des différents modes de déplacements entre eux.

en:
  presentation: >-
    MonPetitCarbone allows you to track your <b> professional carbon footprint </b> 
    over time for free. <b> Everyone can use it </b> but it is particularly suitable for research staff in
    France. This tool is for educational purposes only and <b> the data provided by users will never be given or sold 
    to third parties </b>.

  categories: >-
    <p>In the current state, the available categories are : </p>
    <ul>
      <li>Professionnal travels</li>
      <li>Commutes</li>
    </ul>

  screenshot_one: >-
    The calculator is a dashboard that allows you to save your data for each year and 
    for each category that the tool offers. 
    The calculator also provides the carbon footprint of each item already entered.

  screenshot_two: >-
    The overview provides graphs that allow you to dive into your data, 
    for example by analysing the evolution of your business carbon footprint over the years 
    or isolating the emissions category that contributes most to your footprint.

  screenshot_three: >-
    This form allows you to enter a new mission by filling in the stages and
    modes of travel associated with the different sections of your trip. The carbon footprint of 
    your travel is calculated in real time to allow you to compare the impact of the different 
    modes of transportation.

  screenshot_four: >-
    This form allows you to fill in a new commute, i.e. a travel that you regularly 
    make to get to your place of work. Several modes of travel are proposed and the carbon footprint 
    of your journey is calculated in real time to enable you to compare the impact of the different modes of transportation.
</i18n>
