<template>
  <section class="section">
    <div class="container">
      <div class="content">
        <h1 class="title has-text-primary has-text-centered is-2">
          Mentions légales
        </h1>
        <h2 class="subtitle has-text-tertiary">1. Présentation du site.</h2>
        <p>
          En vertu de l'article 6 de la loi n° 2004-575 du 21 juin 2004 pour la
          confiance dans l'économie numérique, il est précisé aux utilisateurs
          du site
          <a href="http://monpetitcarbone.fr/">monpetitcarbone.fr</a> l'identité
          des différents intervenants dans le cadre de sa réalisation et de son
          suivi :
        </p>
        <p>
          <strong>Propriétaire</strong> : Joël Thanwerdas –
          joel.thanwerdas@gmail.com<br />
          <strong>Créateur</strong> : Joël Thanwerdas<br />
          <strong>Responsable publication</strong> : Joël Thanwerdas <br />
          <strong>Webmaster</strong> : Joël Thanwerdas<br />
          <strong>Hébergeur</strong> : PlanetHoster – PlanetHoster 4416
          Louis-B.-Mayer Laval, Québec Canada H7P 0G1<br />
          <strong>Crédits</strong> : Joël Thanwerdas<br />
        </p>

        <h2 class="subtitle has-text-tertiary">
          2. Conditions générales d’utilisation du site et des services
          proposés.
        </h2>
        <p>
          L’utilisation du site
          <a href="http://monpetitcarbone.fr/">monpetitcarbone.fr</a> implique
          l’acceptation pleine et entière des conditions générales d’utilisation
          ci-après décrites. Ces conditions d’utilisation sont susceptibles
          d’être modifiées ou complétées à tout moment, les utilisateurs du site
          <a href="http://monpetitcarbone.fr/">monpetitcarbone.fr</a> sont donc
          invités à les consulter de manière régulière.
        </p>
        <p>
          Ce site est normalement accessible à tout moment aux utilisateurs. Une
          interruption pour raison de maintenance technique peut être toutefois
          décidée par Joël Thanwerdas, qui s’efforcera alors de communiquer
          préalablement aux utilisateurs les dates et heures de l’intervention.
        </p>
        <p>
          Le site
          <a href="https://monpetitcarbone.fr/">monpetitcarbone.fr</a> est mis à
          jour régulièrement par Joël Thanwerdas. De la même façon, les mentions
          légales peuvent être modifiées à tout moment : elles s’imposent
          néanmoins à l’utilisateur qui est invité à s’y référer le plus souvent
          possible afin d’en prendre connaissance.
        </p>
        <h2 class="subtitle has-text-tertiary">
          3. Description des services fournis.
        </h2>
        <p>
          Le site <a href="https://monpetitcarbone.fr/">monpetitcarbone.fr</a> a
          pour objet de faciliter le calcul de son empreinte carbone
          personnelle.
        </p>
        <p>
          Joël Thanwerdas s’efforce de fournir sur le site
          <a href="https://monpetitcarbone.fr/">monpetitcarbone.fr</a> des
          informations aussi précises que possible. Toutefois, il ne pourra être
          tenue responsable des omissions, des inexactitudes et des carences
          dans la mise à jour, qu’elles soient de son fait ou du fait des tiers
          partenaires qui lui fournissent ces informations.
        </p>
        <p>
          Tous les informations indiquées sur le site
          <a href="https://monpetitcarbone.fr/">monpetitcarbone.fr</a> sont
          données à titre indicatif, et sont susceptibles d’évoluer. Par
          ailleurs, les renseignements figurant sur le site
          <a href="https://monpetitcarbone.fr/">monpetitcarbone.fr</a> ne sont
          pas exhaustifs. Ils sont donnés sous réserve de modifications ayant
          été apportées depuis leur mise en ligne.
        </p>
        <h2 class="subtitle has-text-tertiary">
          4. Limitations contractuelles sur les données techniques.
        </h2>
        <p>Le site utilise la technologie JavaScript.</p>
        <p>
          Le site Internet ne pourra être tenu responsable de dommages matériels
          liés à l’utilisation du site. De plus, l’utilisateur du site s’engage
          à accéder au site en utilisant un matériel récent, ne contenant pas de
          virus et avec un navigateur de dernière génération mis-à-jour
        </p>
        <h2 class="subtitle has-text-tertiary">
          5. Propriété intellectuelle et contrefaçons.
        </h2>
        <p>
          Joël Thanwerdas est propriétaire des droits de propriété
          intellectuelle ou détient les droits d’usage sur tous les éléments
          accessibles sur le site, notamment les textes, images, graphismes,
          logo, icônes, sons, logiciels.
        </p>
        <p>
          Toute reproduction, représentation, modification, publication,
          adaptation de tout ou partie des éléments du site, quel que soit le
          moyen ou le procédé utilisé, est interdite, sauf autorisation écrite
          préalable de : Joël Thanwerdas.
        </p>
        <p>
          Toute exploitation non autorisée du site ou de l’un quelconque des
          éléments qu’il contient sera considérée comme constitutive d’une
          contrefaçon et poursuivie conformément aux dispositions des articles
          L.335-2 et suivants du Code de Propriété Intellectuelle.
        </p>
        <h2 class="subtitle has-text-tertiary">
          6. Limitations de responsabilité.
        </h2>
        <p>
          Joël Thanwerdas ne pourra être tenue responsable des dommages directs
          et indirects causés au matériel de l’utilisateur, lors de l’accès au
          site monpetitcarbone.fr, et résultant soit de l’utilisation d’un
          matériel ne répondant pas aux spécifications indiquées au point 4,
          soit de l’apparition d’un bug ou d’une incompatibilité.
        </p>
        <p>
          Joël Thanwerdas ne pourra également être tenue responsable des
          dommages indirects (tels par exemple qu’une perte de marché ou perte
          d’une chance) consécutifs à l’utilisation du site
          <a href="https://monpetitcarbone.fr/">monpetitcarbone.fr</a>.
        </p>
        <h2 class="subtitle has-text-tertiary">
          7. Gestion des données personnelles.
        </h2>
        <p>
          En France, les données personnelles sont notamment protégées par la
          loi n° 78-87 du 6 janvier 1978, la loi n° 2004-801 du 6 août 2004,
          l'article L. 226-13 du Code pénal et la Directive Européenne du 24
          octobre 1995.
        </p>
        <p>
          En tout état de cause Joël Thanwerdas ne collecte des informations
          personnelles relatives à l'utilisateur que pour le besoin de certains
          services proposés par le site
          <a href="https://monpetitcarbone.fr/">monpetitcarbone.fr</a>.
          L'utilisateur fournit ces informations en toute connaissance de cause,
          notamment lorsqu'il procède par lui-même à leur saisie. Il est alors
          précisé à l'utilisateur du site
          <a href="https://monpetitcarbone.fr/">monpetitcarbone.fr</a>
          l’obligation ou non de fournir ces informations.
        </p>
        <p>
          Conformément aux dispositions des articles 38 et suivants de la loi
          78-17 du 6 janvier 1978 relative à l’informatique, aux fichiers et aux
          libertés, tout utilisateur dispose d’un droit d’accès, de
          rectification et d’opposition aux données personnelles le concernant,
          en effectuant sa demande écrite et signée, accompagnée d’une copie du
          titre d’identité avec signature du titulaire de la pièce, en précisant
          l’adresse à laquelle la réponse doit être envoyée.
        </p>
        <p>
          Aucune information personnelle de l'utilisateur du site
          <a href="https://monpetitcarbone.fr/">monpetitcarbone.fr</a> n'est
          publiée à l'insu de l'utilisateur, échangée, transférée, cédée ou
          vendue sur un support quelconque à des tiers. Seule l'hypothèse du
          rachat de Joël Thanwerdas et de ses droits permettrait la transmission
          des dites informations à l'éventuel acquéreur qui serait à son tour
          tenu de la même obligation de conservation et de modification des
          données vis à vis de l'utilisateur du site
          <a href="https://monpetitcarbone.fr/">monpetitcarbone.fr</a>.
        </p>
        <p>
          Les bases de données sont protégées par les dispositions de la loi du
          1er juillet 1998 transposant la directive 96/9 du 11 mars 1996
          relative à la protection juridique des bases de données.
        </p>
        <h2 class="subtitle has-text-tertiary">
          8. Liens hypertextes et cookies.
        </h2>
        <p>
          Le site
          <a href="https://monpetitcarbone.fr/">monpetitcarbone.fr</a> contient
          un certain nombre de liens hypertextes vers d’autres sites, mis en
          place avec l’autorisation de Joël Thanwerdas. Cependant, Joël
          Thanwerdas n’a pas la possibilité de vérifier le contenu des sites
          ainsi visités, et n’assumera en conséquence aucune responsabilité de
          ce fait.
        </p>
        <p>
          La navigation sur le site
          <a href="https://monpetitcarbone.fr/">monpetitcarbone.fr</a> n'est
          susceptible de provoquer l’installation de cookie(s) sur l’ordinateur
          de l’utilisateur que dans le but de stocker les informations
          d'authentification afin de connecter l'utilisateur et de maintenir sa
          session dans le temps. Un cookie est un fichier de petite taille, qui
          ne permet pas l’identification de l’utilisateur, mais qui enregistre
          des informations relatives à la navigation d’un ordinateur sur un
          site.
        </p>

        <h2 class="subtitle has-text-tertiary">
          9. Droit applicable et attribution de juridiction.
        </h2>
        <p>
          Tout litige en relation avec l’utilisation du site
          <a href="https://monpetitcarbone.fr/">monpetitcarbone.fr</a> est
          soumis au droit français. Il est fait attribution exclusive de
          juridiction aux tribunaux compétents de Paris.
        </p>
        <h2 class="subtitle has-text-tertiary">
          10. Les principales lois concernées.
        </h2>
        <p>
          Loi n° 78-17 du 6 janvier 1978, notamment modifiée par la loi n°
          2004-801 du 6 août 2004 relative à l'informatique, aux fichiers et aux
          libertés.
        </p>
        <p>
          Loi n° 2004-575 du 21 juin 2004 pour la confiance dans l'économie
          numérique.
        </p>
        <h2 class="subtitle has-text-tertiary">11. Lexique.</h2>
        <p>
          Utilisateur : Internaute se connectant, utilisant le site susnommé.
        </p>
        <p>
          Informations personnelles : « les informations qui permettent, sous
          quelque forme que ce soit, directement ou non, l'identification des
          personnes physiques auxquelles elles s'appliquent » (article 4 de la
          loi n° 78-17 du 6 janvier 1978).
        </p>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'MentionsLegales',
  data() {
    return {}
  },
  computed: {},
}
</script>

<style></style>
