<template>
  <section class="hero is-default is-bold">
    <h1 class="title has-text-centered has-text-primary is-1 mb-10">
      Méthodologie
    </h1>

    <div class="columns">
      <div class="column is-4 has-text-left">
        <div class="container is-fluid">
          <p class="is-size-4">
            <a @click="scrollTo('general')">Général</a>
          </p>
          <p class="is-size-4">
            <a @click="scrollTo('missions')">Missions</a>
          </p>
          <p class="is-size-4">
            <a @click="scrollTo('domicile-travail')"
              >Déplacements Domicile-Travail</a
            >
          </p>
        </div>
      </div>
      <div class="column is-8">
        <div class="container is-fluid">
          <!-------------->
          <!-- Général -->
          <!-------------->
          <b-collapse ref="general" class="card" animation="slide" open>
            <template #trigger="props">
              <div class="card-header has-background-primary" role="button">
                <p class="card-header-title has-text-white is-size-4">
                  Général
                </p>
                <a class="card-header-icon has-text-white">
                  <b-icon :icon="props.open ? 'menu-down' : 'menu-up'">
                  </b-icon>
                </a>
              </div>
            </template>
            <div class="card-content">
              <div class="content has-text-justified">
                La méthodologie de la comptabilité carbone utilisée dans cet
                outil est identique à celle développée par le collectif
                Labos1point5. Ce collectif, composé principalement de personnels
                de la recherche, a pour objectif d'engager une réflexion sur
                l'impact environnemental des activités du milieu de la
                recherche, sur le rôle que ce milieu devrait jouer dans le cadre
                de la transition écologique de la société et sur les méthodes
                que pourraient déployer les laboratoires pour participer
                efficacement et durablement à cette transition.
                <br />
                <br />
                Parmi ces méthodes, une méthode de comptabilité carbone a été
                mise en place et est maintenant utilisée par l'outil
                <a
                  href="https://www.biorxiv.org/content/10.1101/2021.01.14.426384v1.article-metrics "
                  >GES1p5</a
                >
                du collectif. Cet outil, utilisable via leur site internet,
                permet d'évaluer l'empreinte carbone d'un laboratoire de
                recherche en séparant ses activités en plusieurs catégories
                d'émissions : bâtiment, véhicules, missions, déplacements
                domicile-travail, numérique, achats, etc...
                <br />
                Cette méthodologie est encore en phase de développement et de
                nouvelles catégories s'ajouteront au fur et à mesure qu'elle
                sera développée.
                <br />
                <br />

                Dans l'attente que cette méthodologie soit déclinée au niveau
                individuel et que chaque personnel puisse calculer l'empreinte
                carbone de ses activités sur le site du collectif Labos1point5,
                l'outil que vous utilisez en ce moment, MonPetitCarbone, a été
                développée. Les catégories d'émissions sont identiques à celles
                de l'outil GES1p5.
                <br />
                Pour le moment, seule les catégories "Missions" et "Déplacements
                Domicile-Travail" ont été déclinées au niveau individuel dans
                MonPetitCarbone mais d'autres suivront prochainement. Les
                méthodologies spécifiques à chaque catégorie sont présentées
                ci-dessous.
              </div>
            </div>
          </b-collapse>

          <!-------------->
          <!-- Missions -->
          <!-------------->
          <b-collapse
            ref="missions"
            class="card mt-5"
            animation="slide"
            :open="false"
          >
            <template #trigger="props">
              <div class="card-header has-background-primary" role="button">
                <p class="card-header-title has-text-white is-size-4">
                  Missions
                </p>
                <a class="card-header-icon has-text-white">
                  <b-icon :icon="props.open ? 'menu-down' : 'menu-up'">
                  </b-icon>
                </a>
              </div>
            </template>
            <div class="card-content">
              <div class="content has-text-justified">
                La méthodologie associée au calcul des émissions de la catégorie
                "Missions" est majoritairement basée sur les facteurs
                d'émissions proposés par l'Agence de l'Environnement et de la
                Maîtrise de l'Énergie (ADEME) qui fait référence en la matière.
                Ces facteurs d'émissions sont récupérables via leur base de
                données qui est en accès libre. Le tableau ci-dessous résume les
                moyens de transport retenus, la valeur du facteur d'émission
                associé et sa référence dans la base de données de l'ADEME.
                <br />
                <br />
                Pour certains modes de déplacements, d'autres sources ont été
                utilisées et la référence est notée "Non disponible". Pour plus
                de détails concernant les facteurs d'émissions, vous pouvez vous
                référer à la
                <a
                  href="https://labos1point5.org/static/Justification%20choix%20facteurs%20d%20emission-Labos1point5-07072020.pdf"
                  >méthodologie de labos1point5.</a
                >
                .
                <br />
                <br />
                <strong
                  >Notez que dans cette méthodologie, et afin de se rapprocher
                  des méthodologies officielles, les facteurs d'émissions
                  associés à l'aviation ne prennent pas en compte les effets
                  indirects de l'aviation (traînées et émissions de NOx). Les
                  prendre en compte multiplierait par 2 voire 3 ces facteurs
                  d'émissions. C'est un élément d'incertitude très
                  important.</strong
                >
              </div>

              <table class="table my-10 is-striped">
                <thead>
                  <tr>
                    <th>Mode de déplacement</th>
                    <th style="min-width: 20%">
                      Facteur d'émission <br />
                      (gCO2eq / km)
                    </th>
                    <th>Libéllé référence ADEME</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th>Avion (0 - 1000 km)</th>
                    <td>141.2</td>
                    <td>Avion court courrier, sans traînées, 2018</td>
                  </tr>
                  <tr>
                    <th>Avion ( 1001-3500 km)</th>
                    <td>102.4</td>
                    <td>Avion moyen courrier, sans traînées, 2018</td>
                  </tr>
                  <tr>
                    <th>Avion (> 3500 km)</th>
                    <td>82.9</td>
                    <td>Avion long courrier, sans traînées, 2018</td>
                  </tr>
                  <tr>
                    <th>Voiture</th>
                    <td>233</td>
                    <td>
                      Voiture particulière, moyenne parc, motorisation moyenne,
                      2018
                    </td>
                  </tr>
                  <tr>
                    <th>Taxi</th>
                    <td>233</td>
                    <td>
                      Voiture particulière, moyenne parc, motorisation moyenne,
                      2018
                    </td>
                  </tr>
                  <tr>
                    <th>Bus</th>
                    <td>135</td>
                    <td>
                      Autobus moyen - Agglomération de plus de 250 000 habitants
                    </td>
                  </tr>
                  <tr>
                    <th>Train (France uniquement ; > 200 km)</th>
                    <td>3</td>
                    <td>TGV 2019</td>
                  </tr>
                  <tr>
                    <th>Train (France uniquement ; 0-200 km)</th>
                    <td>18</td>
                    <td>Non disponible</td>
                  </tr>
                  <tr>
                    <th>Train (mixte France et international)</th>
                    <td>16</td>
                    <td>Non disponible</td>
                  </tr>
                  <tr>
                    <th>Train international</th>
                    <td>37</td>
                    <td>Non disponible</td>
                  </tr>
                  <tr>
                    <th>Tramway</th>
                    <td>3.98</td>
                    <td>
                      Métro, tramway, trolleybus, autres villes - 2018 -
                      Agglomération > 250 000 habitants
                    </td>
                  </tr>
                  <tr>
                    <th>RER</th>
                    <td>5.1</td>
                    <td>RER Transilien, 2019</td>
                  </tr>
                  <tr>
                    <th>Métro</th>
                    <td>3.5</td>
                    <td>Métro Ile de France 2019</td>
                  </tr>
                  <tr>
                    <th>Ferry</th>
                    <td>979</td>
                    <td>Ferry de jour</td>
                  </tr>
                </tbody>
              </table>
              <h2 class="subtitle is-size-4">Méthode de calcul</h2>
              <div>
                Les missions sont divisées en sections. Chaque section est
                définie par :
                <ul>
                  <li>Un mode de déplacement</li>
                  <li>Une ville et pays de départ</li>
                  <li>Une ville et pays d'arrivée</li>
                </ul>
                En utilisant la base de données en accès libre
                <a href="https://geonames.org">Geonames</a>, les latitudes et
                longitudes des villes sont utilisées pour calculer la distance
                orthodromique (ou distance à vol d'oiseau).
                <br />
                <br />
                Pour les déplacements en avion, il faut ajouter 95 km à la
                distance orthodromique.
                <br />
                <br />
                Pour les autres déplacements, un facteur correctif
                caractéristique du mode de déplacement est appliqué : 1.3 pour
                les déplacements en voiture et taxi, 1.2 pour les déplacements
                en train et RER, 1.7 pour le métro et 1.5 pour le bus et le
                tramway.
                <br />
                <br />
                Pour les déplacements en taxi, la distance du trajet retour est
                aussi prise en compte.
                <br />
                <br />
                Les émissions d'une section sont alors calculées en multipliant
                cette distance corrigée par le facteur d'émission introduit dans
                le tableau ci-dessus. Les émissions d'une mission entière sont
                finalement obtenues en sommant les émissions de toutes les
                sections effectuées durant la mission (retour compris). Pour
                plus de détails concernant le calcul des émissions, vous pouvez
                vous référer à
                <a href="https://labos1point5.org/ges-1point5"
                  >la méthodologie des missions dans l'outil GES1p5</a
                >
                .
              </div>
            </div>
          </b-collapse>

          <!----------------------------------->
          <!-- Déplacements Domicile-Travail -->
          <!----------------------------------->
          <b-collapse
            ref="domicile-travail"
            class="card mt-5"
            animation="slide"
            :open="false"
          >
            <template #trigger="props">
              <div class="card-header has-background-primary" role="button">
                <p class="card-header-title has-text-white is-size-4">
                  Déplacements domicile-travail
                </p>
                <a class="card-header-icon has-text-white">
                  <b-icon :icon="props.open ? 'menu-down' : 'menu-up'">
                  </b-icon>
                </a>
              </div>
            </template>
            <div class="card-content">
              <div class="content has-text-justified">
                La méthodologie associée au calcul des émissions de la catégorie
                "Déplacements domicile-travail" est majoritairement basée sur
                les facteurs d'émissions proposés par l'Agence de
                l'Environnement et de la Maîtrise de l'Énergie (ADEME) qui fait
                référence en la matière. Ces facteurs d'émissions sont
                récupérables via leur base de données qui est en accès libre. Le
                tableau ci-dessous résume les moyens de transport retenus, la
                valeur du facteur d'émission associé et sa référence dans la
                base de données de l'ADEME.
                <br />
                <br />
                Pour certains modes de déplacements, d'autres sources ont été
                utilisées et la référence est notée "Non disponible". Pour plus
                de détails concernant les facteurs d'émissions, vous pouvez vous
                référer à la
                <a
                  href="https://labos1point5.org/static/Justification%20choix%20facteurs%20d%20emission-Labos1point5-07072020.pdf"
                  >méthodologie de labos1point5.</a
                >
              </div>

              <table class="table my-10 is-striped">
                <thead>
                  <tr>
                    <th>Mode de déplacement</th>
                    <th style="min-width: 20%">
                      Facteur d'émission <br />
                      (gCO2eq / km)
                    </th>
                    <th>Libéllé référence ADEME</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th>Marche</th>
                    <td>0</td>
                    <td>Non disponible</td>
                  </tr>
                  <tr>
                    <th>Vélo</th>
                    <td>5</td>
                    <td>Non disponible</td>
                  </tr>
                  <tr>
                    <th>Vélo Électrique</th>
                    <td>16</td>
                    <td>Non disponible</td>
                  </tr>
                  <tr>
                    <th>Trottinette Électrique</th>
                    <td>61.2</td>
                    <td>Non disponible</td>
                  </tr>
                  <tr>
                    <th>Voiture - Essence</th>
                    <td>241.4</td>
                    <td>
                      Voiture particuière, moyenne parc, motorisation essence
                      2018
                    </td>
                  </tr>
                  <tr>
                    <th>Voiture - Diesel</th>
                    <td>233</td>
                    <td>
                      Voiture particulière , moyenne parc, motorisation gazole
                      2018
                    </td>
                  </tr>
                  <tr>
                    <th>Voiture - Hybride</th>
                    <td>182.8</td>
                    <td>
                      Voiture particulière - Coeur de gamme - Véhicule compact -
                      Hybride full P2
                    </td>
                  </tr>
                  <tr>
                    <th>Voiture - Électrique</th>
                    <td>103.4</td>
                    <td>
                      Voiture particulière - Coeur de gamme - Véhicule compact -
                      Electrique
                    </td>
                  </tr>
                  <tr>
                    <th>Voiture - GPL</th>
                    <td>231.8</td>
                    <td>
                      Voiture particulière, moyenne parc, motorisation GPL, 2018
                    </td>
                  </tr>
                  <tr>
                    <th>Voiture - GNV</th>
                    <td>236.2</td>
                    <td>
                      Voiture particulière, moyenne parc, motorisation GNV, 2018
                    </td>
                  </tr>
                  <tr>
                    <th>Moto</th>
                    <td>204.9</td>
                    <td>Moto >= 250 cm3 mixte 2018</td>
                  </tr>
                  <tr>
                    <th>Bus - Agglomération de moins de 100 000 habitants</th>
                    <td>146</td>
                    <td>
                      Autobus moyen - Agglomération moins de 100 000 habitants
                    </td>
                  </tr>
                  <tr>
                    <th>
                      Bus - Agglomération entre 100 000 et 250 000 habitants
                    </th>
                    <td>156</td>
                    <td>
                      Autobus moyen - Agglomération de 100 000 à 250 000
                      habitants
                    </td>
                  </tr>
                  <tr>
                    <th>Bus - Agglomération de plus de 250 000 habitants</th>
                    <td>135</td>
                    <td>
                      Autobus moyen - Agglomération de plus de 250 000 habitants
                    </td>
                  </tr>
                  <tr>
                    <th>Train (France uniquement ; > 200 km)</th>
                    <td>3</td>
                    <td>TGV 2019</td>
                  </tr>
                  <tr>
                    <th>Train (France uniquement ; 0-200 km)</th>
                    <td>18</td>
                    <td>Non disponible</td>
                  </tr>
                  <tr>
                    <th>
                      Tramway - Agglomération de moins de 250 000 habitants
                    </th>
                    <td>5.72</td>
                    <td>
                      Métro, tramway, trolleybus, autres villes - 2018 -
                      Agglomération de 100 000 à 250 000 habitants
                    </td>
                  </tr>
                  <tr>
                    <th>
                      Tramway - Agglomération de plus de 250 000 habitants
                    </th>
                    <td>3.98</td>
                    <td>
                      Métro, tramway, trolleybus, autres villes - 2018 -
                      Agglomération > 250 000 habitants
                    </td>
                  </tr>
                  <tr>
                    <th>RER</th>
                    <td>5.1</td>
                    <td>RER Transilien, 2019</td>
                  </tr>
                  <tr>
                    <th>Métro</th>
                    <td>3.5</td>
                    <td>Métro Ile de France 2019</td>
                  </tr>
                </tbody>
              </table>
              <h2 class="subtitle is-size-4">Méthode de calcul</h2>
              <div>
                Les différents facteurs d'émissions sont simplement multipliés
                par les distances effectuées. Ces distances sont renseignées
                individuellement par l'utilisateur dans le formulaire associé.
                L'utilisateur doit donc au préalable se renseigner sur les
                distances effectuées avec chaque moyen de transport. Pour les
                trajets en voiture et en moto, les facteurs d'émissions sont
                divisés par le nombre de passagers transportés.
              </div>
            </div>
          </b-collapse>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'Methodologie',
  auth: false,
  data() {
    return {
      isOpen: null,
    }
  },
  mounted() {},
  methods: {
    scrollTo(refName) {
      const top = this.$refs[refName].$el.getBoundingClientRect().top
      window.scrollTo({ top: top - 80, behavior: 'smooth' })
    },
  },
}
</script>
