<template>
  <section class="section">
    <div class="container">
      <h1 class="title is-2 has-text-centered">
        {{ $t('politiqueDeConfidentalite') }}
      </h1>
      <NoticeComponent />
    </div>
  </section>
</template>

<script>
import NoticeComponent from '@/components/Notice.vue'
export default {
  name: 'Notice',
  components: {
    NoticeComponent,
  },
}
</script>

<style></style>
