<template>
  <section class="hero is-default is-bold">
    <div class="container"><NoticeComponent /></div>
  </section>
</template>

<script>
import NoticeComponent from '@/components/Notice.vue'
export default {
  name: 'PolitiqueDeConfidentialite',
  components: {
    NoticeComponent,
  },
}
</script>
