<template>
  <div class="columns" style="align-items: stretch; min-height: 800px">
    <b-loading v-model="isLoading" is-full-page></b-loading>
    <div class="column is-2">
      <b-sidebar type="is-light" position="static" fullheight fullwidth open>
        <b-menu>
          <b-menu-list label="Profil">
            <b-menu-item
              icon="account"
              :active="isActive"
              :label="$t('identite')"
              @click="selected = 1"
            >
            </b-menu-item>
            <b-menu-item
              icon="lock-reset"
              :label="$t('mdp')"
              @click="selected = 2"
            >
            </b-menu-item>
            <b-menu-item
              icon="database-export"
              :label="$t('gererDonnees')"
              @click="selected = 3"
            >
            </b-menu-item>
          </b-menu-list>
        </b-menu>
      </b-sidebar>
    </div>

    <div class="column is-offset-1 is-8 my-4">
      <div v-if="selected === 1">
        <div class="columns is-centered">
          <div class="column is-8">
            <p class="card-header-title has-text-primary is-size-2">
              {{ $t('identite') }}
            </p>
            <hr class="has-background-primary" />
          </div>
        </div>
        <div class="card-content">
          <div v-if="$auth.user" class="content">
            <div class="columns has-text-centered">
              <div class="column">
                <div class="box">
                  <strong class="heading"> {{ $t('adresseEmail') }} </strong>
                  <p class="title is-5">{{ $auth.user.email }}</p>
                  <ValidationObserver ref="email">
                    <form
                      v-if="form_user_active['email']"
                      @submit.prevent="validateForm('email')"
                    >
                      <ValidationProvider
                        v-slot="{ errors }"
                        slim
                        rules="required|email|unique_email"
                      >
                        <b-field position="is-centered" grouped group-multiline>
                          <b-field
                            :message="errors"
                            :type="{
                              'is-danger': errors[0],
                            }"
                          >
                            <b-input
                              v-model="form_user['email']"
                              :placeholder="$t('nouveauEmailDefault')"
                            ></b-input>
                          </b-field>
                          <b-button
                            class="mb-3 is-pulled-right"
                            type="is-success"
                            @click="validateForm('email')"
                            >{{ $t('valider') }}</b-button
                          >
                        </b-field>
                      </ValidationProvider>
                    </form>
                  </ValidationObserver>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- -------------------- -->
      <!-- Changer mot de passe -->
      <!-- -------------------- -->
      <div v-if="selected === 2">
        <div class="columns is-centered">
          <div class="column is-8">
            <p class="card-header-title has-text-primary is-size-2">
              {{ $t('mdp') }}
            </p>
            <hr class="has-background-primary" />
          </div>
        </div>
        <ValidationObserver ref="change_password">
          <form class="card-content" @submit.prevent="changePassword()">
            <b-field grouped group-multiline>
              <ValidationProvider v-slot="{ errors }" slim rules="required">
                <b-field
                  expanded
                  :label="$t('mdpActuel')"
                  :message="errors"
                  :type="{ 'is-danger': errors[0] }"
                >
                  <b-input
                    v-model="form_password.old_password"
                    expanded
                    size="is-medium"
                    type="password"
                    style="width: 49%"
                  >
                  </b-input>
                </b-field>
              </ValidationProvider>
            </b-field>
            <b-field grouped group-multiline expanded>
              <ValidationProvider
                v-slot="{ errors }"
                slim
                rules="required|min:6"
                name="new_password"
              >
                <b-field
                  expanded
                  :label="$t('nouveauMdp')"
                  :message="errors"
                  :type="{ 'is-danger': errors[0] }"
                >
                  <b-input
                    v-model="form_password.new_password"
                    size="is-medium"
                    type="password"
                  ></b-input>
                </b-field>
              </ValidationProvider>
              <ValidationProvider
                v-slot="{ errors }"
                slim
                rules="required|same_password:@new_password"
              >
                <b-field
                  expanded
                  :label="$t('nouveauMdpConfirmation')"
                  :message="errors"
                  :type="{ 'is-danger': errors[0] }"
                >
                  <b-input
                    v-model="form_password.new_password_confirm"
                    size="is-medium"
                    type="password"
                    @keydown.enter="validate"
                  ></b-input>
                </b-field>
              </ValidationProvider>
            </b-field>
            <button
              class="button is-primary is-medium is-fullwidth mt-5"
              type="submit"
            >
              {{ $t('valider') }}
            </button>
          </form>
        </ValidationObserver>
      </div>

      <!-- ----------------- -->
      <!-- Gérer ses données -->
      <!-- ----------------- -->
      <div v-if="selected === 3">
        <div class="columns is-centered">
          <div class="column is-8">
            <p class="card-header-title has-text-primary is-size-2">
              {{ $t('gererDonnees') }}
            </p>
            <hr class="has-background-primary" />
          </div>
        </div>
        <b-field :label="$t('exporterDonneesMissions')" grouped>
          <b-select
            v-model="typeExtractionDonnees"
            class="control"
            size="is-medium"
          >
            <option value="Complet">{{ $t('complet') }}</option>
            <option value="Labos1p5">Labos1p5</option>
          </b-select>
          <b-button
            icon-left="database-export"
            type="is-primary"
            size="is-medium"
            @click="extractionDonneesMissions()"
          >
            {{ $t('exporter') }}
          </b-button>
        </b-field>
      </div>
    </div>
  </div>
</template>

<script>
import { ValidationObserver, ValidationProvider } from 'vee-validate'
export default {
  name: 'Profile',
  components: {
    ValidationObserver,
    ValidationProvider,
  },
  data() {
    return {
      selected: 1,
      isActive: true,
      isLoading: false,
      password: null,
      typeExtractionDonnees: 'Complet',
      form_user_active: {
        email: false,
      },
      form_user: {
        email: null,
      },
      form_password: {
        old_password: null,
        new_password: null,
        new_password_confirm: null,
      },

      autocomplete_loading: false,
    }
  },
  methods: {
    changePassword() {
      this.$refs.change_password.validate().then((success) => {
        if (!success) {
          return
        }
        this.isLoading = true
        this.$usersService
          .change_password(this.form_password)
          .then(() => {
            this.form_password = {
              old_password: '',
              new_password: '',
              new_password_confirm: '',
            }
            this.$buefy.toast.open({
              duration: 5000,
              message: this.$t('mdpModifieSucces'),
              type: 'is-success',
            })
            this.isLoading = false
            this.$refs.change_password.reset()
          })
          .catch((err) => {
            const status = err.response.status
            let message = this.$t('problemeSurvenu')
            switch (status) {
              case 400:
                message = this.$t('problemeSurvenuVerifier')
                break
              case 401:
                message = this.$t('sessionExpiree')
                break
              case 406:
                message = this.$t('mdpInvalide')
                break
              default:
                message = this.$t('problemeSurvenu')
            }
            this.$buefy.toast.open({
              duration: 5000,
              message,
              type: 'is-danger',
            })
            this.isLoading = false
          })
      })
    },
    validateForm(element) {
      this.form_user.lab = this.lab_input
      this.$refs[element].validate().then((success) => {
        if (!success) {
          return
        }
        // If form is valid
        const payload = {}
        // Prof is split in two parts
        if (['email'].includes(element)) {
          payload[element] = this.form_user[element]
          this.askForPassword(payload, element)
        }
        // Else is basic
        else {
          payload[element] = this.form_user[element]
          this.updateProfile(payload, element)
        }
      })
    },
    askForPassword(payload, element) {
      this.$buefy.dialog.prompt({
        message: this.$t('rentrerMdp') + ':',
        type: 'is-primary',
        inputAttrs: {
          type: 'password',
        },
        cancelText: this.$t('annuler'),
        confirmText: this.$t('valider'),
        trapFocus: true,
        onConfirm: (value) => {
          payload.password = value
          this.updateProfile(payload, element)
        },
      })
    },
    updateProfile(payload, element) {
      this.$usersService
        .update_profile(this.$auth.user.pk, payload)
        .then((data) => {
          this.form_user_active[element] = false
          this.$buefy.toast.open({
            duration: 5000,
            message: this.$t('profilMisAJourSucces'),
            type: 'is-success',
          })
          const updatedUser = Object.assign(this.$auth.user, data)
          this.$store.dispatch('authentication/updateProfileUser', updatedUser)
        })
        .catch((err) => {
          const status = err.response.status
          let message = this.$t('problemeSurvenu')
          switch (status) {
            case 401:
              message = this.$t('sessionExpiree')
              break
            case 406:
              message = this.$t('mdpInvalide')
              break
            default:
              message = this.$t('problemeSurvenu')
          }
          this.$buefy.toast.open({
            duration: 5000,
            message,
            type: 'is-danger',
          })
        })
    },
    extractionDonneesMissions() {
      if (this.typeExtractionDonnees === 'Complet') {
        this.$missionService.extractionDonneesMissionsClassique()
      } else {
        this.$missionService.extractionDonneesMissionsLabos1p5()
      }
    },
  },
}
</script>

<style scoped>
.card-header-title {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  font-weight: 700;
  padding: 0.75rem;
  justify-content: center;
}
</style>

<i18n lang="yaml">
fr:
  gererDonnees: Gérer vos données
  emailDefaut: Nouvelle adresse e-mail...
  mdpActuel: Mot de passe actuel
  nouveauMdp: Mot de passe actuel
  nouveauMdpConfirmation: Confirmation du nouveau mot de passe
  exporterDonneesMissions: Exporter vos données missions
  mdpModifieSucces: Votre mot de passe a été modifié avec succès. Utilisez maintenant ce mot de passe pour vous connecter.
  problemeSurvenu: Un problème est survenu... Réessayez plus tard.
  problemeSurvenuVerifier: Un problème est survenu... Vérifiez les informations fournies.
  sessionExpiree: Votre session a expiré, reconnectez-vous pour continuer.
  mdpInvalide: Le mot de passe actuel donné est invalide.
  rentrerMdp: Rentrez votre de passe
  profilMisAJourSucces: Votre profil a été mis à jour avec succès
  complet: Complet

en:
  gererDonnees: Manage your data
  emailDefaut: New email...
  mdpActuel: Current password
  nouveauMdp: New password
  nouveauMdpConfirmation: Confirm new password
  exporterDonneesMissions: Export your travel data
  mdpModifieSucces: Your password has been successfully modifed. You can now use this password to login.
  problemeSurvenu: An error has occured... Try again later.
  problemeSurvenuVerifier: An error has occured... Check the information you provided.
  sessionExpiree: Your session has expired, you must login to continue.
  mdpInvalide: The current password you provided is invalid.
  rentrerMdp: Enter your password
  profilMisAJourSucces: Your profile has been successfully updated
  complet: Comprehensive
</i18n>
