<template>
  <div>
    <b-loading
      v-model="isLoadingDeplacementsDT"
      :is-full-page="false"
    ></b-loading>
    <b-modal
      full-screen
      :active.sync="detailsDeplacementDTModal"
      :can-cancel="['escape']"
      scroll="clip"
      trap-focus
      has-modal-card
    >
      <div
        is="DetailsDeplacementDTComponent"
        :deplacementdt="detailsDeplacementDT"
      />
    </b-modal>
    <b-modal
      full-screen
      :active.sync="formDeplacementDTModal"
      :can-cancel="['escape']"
      scroll="clip"
      trap-focus
      has-modal-card
    >
      <div
        is="formDeplacementDTComponent"
        :annee="annee"
        :data-input="updatedDeplacementDT"
        @addDeplacementDT="addDeplacementDT"
        @updateDeplacementDT="updateDeplacementDT"
      />
    </b-modal>

    <!-- ------------------- -->
    <!-- Ordonner et réduire -->
    <!-- ------------------- -->
    <div id="order-box" class="columns is-centered mt-3">
      <div class="column is-1">
        <b-tooltip
          :label="$t('ajouterDT')"
          type="is-white"
          position="is-top"
          style="width: 100%"
        >
          <div
            id="box-add"
            class="box has-background-secondary"
            style="display: flex; justify-content: center"
            @click="openDeplacementDTForm()"
          >
            <b-icon type="is-light" size="is-large" icon="plus" />
          </div>
        </b-tooltip>
      </div>
      <div class="column is-8 is-hidden-mobile">
        <div class="box has-background-white-ter level">
          <div class="level-item">
            <b-button
              type="is-light"
              :class="[order['carbone'] !== null ? 'has-text-primary' : '']"
              :icon-right="orderIcons['carbone']"
              @click="changeOrder('carbone')"
              >{{ $t('empreinteCarbone') }}</b-button
            >
          </div>
          <div class="level-item">
            <b-button
              type="is-light"
              :class="[order['distance'] !== null ? 'has-text-primary' : '']"
              :icon-right="orderIcons['distance']"
              @click="changeOrder('distance')"
              >{{ $t('distance') }}</b-button
            >
          </div>
        </div>
      </div>
    </div>

    <!-- --------------------- -->
    <!-- Boucle deplacementsdt -->
    <!-- --------------------- -->
    <transition-group
      v-if="deplacementsdt && deplacementsdt.length > 0"
      class="columns is-multiline is-centered"
      name="list"
      tag="div"
    >
      <div
        v-for="(deplacementdt, index) in deplacementsdt"
        :key="deplacementdt.id"
        class="column is-10"
      >
        <article
          class="
            deplacementdt
            media
            has-background-dark has-text-white has-text-weight-bold
            pa-2
          "
        >
          <div class="media-left pa-3">
            <b-icon size="is-medium" icon="briefcase" />
          </div>
          <div class="media-content" style="overflow: visible">
            <div
              v-if="nouveauNomVoyage[index] === false"
              class="form-inline is-size-4"
            >
              <span v-if="deplacementdt.nomVoyage">{{
                deplacementdt.nomVoyage
              }}</span>
              <span v-else>Déplacement n°{{ index + 1 }}</span>
            </div>
            <div v-else class="form-inline">
              <form @submit.prevent="updateNomVoyage(deplacementdt)">
                <b-field grouped group-multiline>
                  <b-input
                    v-model="nouveauNomVoyage[index]"
                    placeholder="Nom de la mission"
                    @click.native.stop
                  >
                  </b-input>
                  <b-button
                    type="is-info"
                    inverted
                    @click.native.stop="updateNomVoyage(deplacementdt)"
                  >
                    {{ $t('valider') }}
                  </b-button>
                </b-field>
              </form>
            </div>

            <nav class="deplacementdt-tags">
              <b-tooltip
                :label="$t('nombreJours')"
                type="is-white"
                position="is-bottom"
              >
                <b-tag class="is-white-ter has-text-weight-bold"
                  >{{ deplacementdt.nbJoursTravail }} {{ $t('jours') }}</b-tag
                >
              </b-tooltip>
              <b-tooltip
                :label="$t('empreinteCarboneTotale')"
                type="is-white"
                position="is-bottom"
              >
                <b-tag class="is-carbone has-text-weight-bold"
                  >{{ deplacementdt.carbone | splitNumber }} kgCO2e</b-tag
                >
              </b-tooltip>
              <b-tooltip
                :label="$t('distanceTotale')"
                type="is-white"
                position="is-bottom"
              >
                <b-tag
                  class="
                    card-footer-item
                    has-background-distance has-text-white has-text-weight-bold
                  "
                  size="is-small"
                >
                  <span> {{ deplacementdt.distance | splitNumber }} km</span>
                </b-tag>
              </b-tooltip>
            </nav>
          </div>

          <div class="media-right is-hidden-mobile">
            <b-tooltip
              :label="$t('modifierNom')"
              type="is-white"
              position="is-top"
            >
              <b-button
                icon-left="alphabetical"
                type="is-dark"
                size="is-medium"
                @click.native.stop="setNouveauNomVoyage(deplacementdt)"
              />
            </b-tooltip>
            <b-tooltip
              :label="$t('modifierDonnees')"
              type="is-white"
              position="is-top"
            >
              <b-button
                icon-left="pencil"
                type="is-dark"
                size="is-medium"
                @click.native.stop="openUpdateDeplacementDTForm(deplacementdt)"
              />
            </b-tooltip>
            <b-tooltip :label="$t('copier')" type="is-white" position="is-top">
              <b-button
                icon-left="content-copy"
                type="is-dark"
                size="is-medium"
                @click.native.stop="addDeplacementDT(deplacementdt)"
              />
            </b-tooltip>
            <b-tooltip
              :label="$t('afficherDetails')"
              type="is-white"
              position="is-top"
            >
              <b-button
                icon-left="file-document"
                type="is-dark"
                size="is-medium"
                @click.native.stop="
                  () => {
                    detailsDeplacementDTModal = true
                    detailsDeplacementDT = deplacementdt
                  }
                "
              />
            </b-tooltip>
            <b-tooltip
              :label="$t('supprimer')"
              type="is-white"
              position="is-top"
            >
              <b-button
                icon-left="delete"
                type="is-dark"
                size="is-medium"
                @click.native.stop="confirmDelete(deplacementdt)"
              />
            </b-tooltip>
          </div>
        </article>
      </div>
    </transition-group>
    <div v-else class="title is-2 has-text-centered mt-8 has-text-grey">
      {{ $t('aucuneDonnee') }}
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import FormDeplacementDTComponent from '@/components/forms/FormDeplacementDT.vue'
import DetailsDeplacementDTComponent from '@/components/details/DetailsDeplacementDT.vue'
// var fetchTimer;

export default {
  name: 'TabDeplacementDTComponent',
  components: {
    FormDeplacementDTComponent,
    DetailsDeplacementDTComponent,
  },
  data() {
    return {
      formDeplacementDTModal: false,
      formDeplacementDTUpdateModal: false,
      detailsDeplacementDTModal: false,
      detailsDeplacementDT: null,
      updatedDeplacementDT: null,
      nouveauNomVoyage: [],
      showSections: false,

      order: {
        dateDepart: false,
        carbone: null,
        distance: null,
      },

      orderIcons: {
        dateDepart: 'chevron-up-circle',
        carbone: 'chevron-up',
        distance: 'chevron-up',
      },

      iconsDeplacementDT: {
        Avion: 'airplane',
        Train: 'train',
        Voiture: 'car',
        Taxi: 'taxi',
        Métro: 'subway',
        RER: 'subway-variant',
        Bus: 'bus',
        Ferry: 'ferry',
        Tramway: 'subway-variant',
      },
    }
  },
  computed: {
    ...mapState(['annee']),
    ...mapState('deplacementsdt', [
      'deplacementsdt',
      'isLoadingDeplacementsDT',
    ]),
  },
  watch: {
    deplacementsdt() {
      this.nouveauNomVoyage = new Array(this.deplacementsdt.length).fill(false)
    },
  },
  created() {
    this.nouveauNomVoyage = new Array(this.deplacementsdt.length).fill(false)
  },
  methods: {
    addDeplacementDT(deplacementdt) {
      this.$store
        .dispatch('deplacementsdt/addDeplacementDT', deplacementdt)
        .then((data) => {
          this.formDeplacementDTModal = false
          this.$buefy.toast.open({
            duration: 5000,
            position: 'is-bottom-right',
            message: this.$t('ajouterDonnee') + ` ${parseInt(data.annee)}`,
            type: 'is-success',
          })
        })
    },
    updateDeplacementDT(deplacementdt) {
      this.$store
        .dispatch('deplacementsdt/updateDeplacementDT', deplacementdt)
        .then(() => {
          this.formDeplacementDTModal = false
          this.$buefy.toast.open({
            duration: 5000,
            position: 'is-bottom-right',
            message: this.$t('modifierDonnee'),
            type: 'is-success',
          })
        })
    },
    confirmDelete(deplacementdt) {
      this.$buefy.dialog.confirm({
        title: this.$t('supprimerDT'),
        message: this.$t('confirmerSuppr'),
        confirmText: this.$t('confirmer'),
        cancelText: this.$t('annuler'),
        type: 'is-danger',
        hasIcon: true,
        onConfirm: () => this.deleteDeplacementDT(deplacementdt),
      })
    },
    deleteDeplacementDT(deplacementdt) {
      this.$store
        .dispatch('deplacementsdt/deleteDeplacementDT', deplacementdt)
        .then(() => {
          this.$buefy.toast.open({
            duration: 5000,
            position: 'is-bottom-right',
            message: this.$t('supprimerDonnee'),
            type: 'is-danger',
          })
        })
    },
    openDeplacementDTForm() {
      this.updatedDeplacementDT = null
      this.formDeplacementDTModal = true
    },
    openUpdateDeplacementDTForm(deplacementdt) {
      this.updatedDeplacementDT = deplacementdt
      this.formDeplacementDTModal = true
    },
    updateNomVoyage(deplacementdt) {
      const index = this.deplacementsdt.findIndex(
        (obj) => obj.id === deplacementdt.id
      )
      const copy = JSON.parse(JSON.stringify(deplacementdt))
      copy.nomVoyage = this.nouveauNomVoyage[index]
      this.updateDeplacementDT(copy)
    },
    setNouveauNomVoyage(deplacementdt) {
      const index = this.deplacementsdt.findIndex(
        (obj) => obj.id === deplacementdt.id
      )
      if (!this.nouveauNomVoyage[index]) {
        this.$set(this.nouveauNomVoyage, index, deplacementdt.nomVoyage)
      } else {
        this.$set(this.nouveauNomVoyage, index, false)
      }
    },
    changeOrder(keyOrder) {
      const formerValue = this.order[keyOrder]
      for (const key of Object.keys(this.order)) {
        this.order[key] = null
        this.orderIcons[key] = 'chevron-up'
      }
      if (formerValue === null) {
        this.order[keyOrder] = false
        this.orderIcons[keyOrder] = 'chevron-up-circle'
      } else if (formerValue === false) {
        this.order[keyOrder] = true
        this.orderIcons[keyOrder] = 'chevron-down-circle'
      } else {
        this.order[keyOrder] = false
        this.orderIcons[keyOrder] = 'chevron-up-circle'
      }

      const valueOrder = this.order[keyOrder]
      this.$store.dispatch('deplacementsdt/sortDeplacementsDT', {
        keyOrder,
        valueOrder,
      })
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/scss/variables.scss';
.form-inline {
  display: flex;
  align-items: center;
}

#order-box button {
  font-size: 1.25rem;
  font-weight: bold;
}

.aller-retour {
  display: flex;
  position: absolute;
  right: -7rem;
  height: 100%;
  align-items: center;
  padding-left: 10px;
  border-left: 3px solid white;
}

#box-add:hover {
  cursor: pointer;
  background-color: darken($secondary, 3%) !important;
}

#box-fold:hover {
  cursor: pointer;
  background-color: darken($white-ter, 3%) !important;
}

.deplacementdt-tags {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 0.75rem;

  .b-tooltip {
    margin-right: 0.75rem;
    margin-bottom: 0.75rem;
    flex-grow: 1;
    max-width: 10rem;
  }

  .tag {
    width: 100%;
  }
}

.list-item {
  display: inline-block;
  margin-right: 10px;
}

.list-move {
  transition: transform 0.5s;
}

.list-enter-active,
.list-leave-active {
  transition: all 0.2s;
}

.list-enter-active {
  transition: all 0.2s;
  transition-delay: 0.3s;
}
.list-enter, .list-leave-to /* .list-leave-active below version 2.1.8 */ {
  opacity: 0;
  transform: translateX(30px);
}
</style>

<i18n lang="yaml">
fr:
  ajouterDT: Ajouter un déplacement domicile-travail
  aucuneDonnee: Aucun Déplacement Domicile-Travail renseigné pour cette année
  ajouterDonnee: Le déplacement domicile-travail a été ajouté à l'année
  modifierDonnee: Le déplacement domicile-travail a été modifié
  confirmerSuppr: Êtes-vous certain de vouloir supprimer ce déplacement domicile-travail ?
  supprimerDonnee: Le déplacement domicile-travail a été supprimé
  supprimerDT: Supprimer le déplacement domicile-travail
  nombreJours: Nombre de jours dans l'année
en:
  ajouterDT: Add a commute
  aucuneDonnee: No commute provided for this year
  ajouterDonnee: The commute has been added to the year
  modifierDonnee: The commute has been updated
  confirmerSuppr: Are you sure you want to delete this commute ?
  supprimerDonnee: The commute has been deleted
  supprimerDT: Delete the commute
  nombreJours: Number of days in the year
</i18n>
