<template>
  <div>
    <!-- <b-loading v-model="isLoadingMissions" :is-full-page="false"></b-loading> -->
    <b-modal
      full-screen
      :active.sync="detailsMissionModal"
      :can-cancel="['escape']"
      scroll="clip"
      trap-focus
      has-modal-card
    >
      <div is="DetailsMissionComponent" :mission="detailsMission" />
    </b-modal>
    <b-modal
      full-screen
      :active.sync="formMissionModal"
      :can-cancel="['escape']"
      scroll="clip"
      trap-focus
      has-modal-card
    >
      <div is="FormMissionComponent" @addMission="addMission" />
    </b-modal>
    <b-modal
      full-screen
      :active.sync="formMissionUpdateModal"
      :can-cancel="['escape']"
      scroll="clip"
      trap-focus
      has-modal-card
    >
      <div
        is="FormMissionUpdateComponent"
        :mission-input="updatedMission"
        @updateMission="updateMission"
      />
    </b-modal>

    <!-- ------------------- -->
    <!-- Ordonner et réduire -->
    <!-- ------------------- -->
    <div id="order-box" class="columns is-centered mt-3">
      <div class="column is-1">
        <b-tooltip
          :label="$t('ajouterMission')"
          type="is-white"
          position="is-top"
          style="width: 100%"
        >
          <div
            id="box-add"
            class="box has-background-secondary"
            style="display: flex; justify-content: center"
            @click="formMissionModal = true"
          >
            <b-icon type="is-light" size="is-large" icon="plus" />
          </div>
        </b-tooltip>
      </div>
      <div class="column is-8 is-hidden-mobile">
        <div class="box has-background-white-ter level">
          <div class="level-item">
            <b-button
              type="is-light"
              :class="[order['dateDepart'] !== null ? 'has-text-primary' : '']"
              :icon-right="orderIcons['dateDepart']"
              @click="changeOrder('dateDepart')"
              >{{ $t('dateDepart') }}</b-button
            >
          </div>
          <div class="level-item">
            <b-button
              type="is-light"
              :class="[order['carbone'] !== null ? 'has-text-primary' : '']"
              :icon-right="orderIcons['carbone']"
              @click="changeOrder('carbone')"
              >{{ $t('empreinteCarbone') }}</b-button
            >
          </div>
          <div class="level-item">
            <b-button
              type="is-light"
              :class="[order['distance'] !== null ? 'has-text-primary' : '']"
              :icon-right="orderIcons['distance']"
              @click="changeOrder('distance')"
              >{{ $t('distance') }}</b-button
            >
          </div>
        </div>
      </div>
      <div class="column is-1 is-hidden-mobile">
        <b-tooltip
          :label="showSections ? $t('masquerSections') : $t('montrerSections')"
          type="is-white"
          position="is-top"
          style="width: 100%"
        >
          <div
            id="box-fold"
            class="box has-background-light"
            style="display: flex; justify-content: center"
            @click="showSections = !showSections"
          >
            <b-icon
              type="is-dark"
              size="is-large"
              :icon="
                showSections
                  ? 'unfold-less-horizontal'
                  : 'unfold-more-horizontal'
              "
            />
          </div>
        </b-tooltip>
      </div>
    </div>

    <!-- --------------- -->
    <!-- Boucle missions -->
    <!-- --------------- -->
    <div class="columns is-centered">
      <div
        v-if="missions && countMissions > missionsParPage"
        class="column is-10 mt-4"
      >
        <b-pagination
          :total="countMissions"
          :current.sync="currentPage"
          range-before="1"
          range-after="1"
          order="is-right"
          size="is-medium"
          :per-page="missionsParPage"
          icon-prev="chevron-left"
          icon-next="chevron-right"
          aria-next-label="Next page"
          aria-previous-label="Previous page"
          aria-page-label="Page"
          aria-current-label="Current page"
        ></b-pagination>
      </div>
    </div>

    <transition-group
      v-if="missions && missions.length > 0"
      class="columns is-multiline is-centered"
      name="list"
      tag="div"
    >
      <div
        v-for="(mission, index) in missions"
        :key="mission.id"
        class="column is-10 list-item"
      >
        <article
          class="
            mission
            media
            has-background-dark has-text-white has-text-weight-bold
            pa-2
          "
        >
          <div class="media-left pa-3">
            <b-icon
              v-if="
                mission.sections.every(
                  (obj) =>
                    obj.modeDeplacement === mission.sections[0].modeDeplacement
                )
              "
              size="is-medium"
              :icon="iconsMission[mission.sections[0].modeDeplacement]"
            />
            <b-icon
              v-else-if="mission.sections.length > 1"
              size="is-medium"
              icon="train-car"
            />
            <b-icon
              v-else
              size="is-medium"
              :icon="iconsMission[mission.sections[0].modeDeplacement]"
            />
          </div>
          <div class="media-content" style="overflow: visible">
            <div
              v-if="nouveauNomVoyage[index] === false"
              class="form-inline is-size-4"
            >
              <span v-if="mission.nomVoyage">{{ mission.nomVoyage }}</span>
              <span v-else>Voyage n°{{ index + 1 }}</span>
            </div>
            <div v-else class="form-inline">
              <form @submit.prevent="updateNomVoyage(mission)">
                <b-field grouped group-multiline>
                  <b-input
                    v-model="nouveauNomVoyage[index]"
                    placeholder="Nom de la mission"
                    @click.native.stop
                  >
                  </b-input>
                  <b-button
                    type="is-info"
                    inverted
                    @click.native.stop="updateNomVoyage(mission)"
                  >
                    {{ $t('valider') }}
                  </b-button>
                </b-field>
              </form>
            </div>

            <div
              v-if="mission.sections.length > 1 && showSections"
              style="position: relative"
            >
              <div v-if="mission.isAllerRetour" class="aller-retour">
                {{ $t('allerRetour') }}
              </div>
              <article
                v-for="(section, isect) in mission.sections"
                :key="section.id"
                class="media has-background-grey-dark my-4 pa-2"
                style="border-top: 0"
              >
                <div class="media-left mr-3">
                  <b-icon :icon="iconsMission[section.modeDeplacement]" />
                </div>
                <div class="media-content">Section {{ isect + 1 }}</div>
                <div class="media-left mr-3">
                  <nav class="level">
                    <div class="level-left">
                      <a class="level-item">
                        <b-tooltip
                          :label="$t('empreinteAller')"
                          type="is-white"
                          position="is-bottom"
                        >
                          <b-tag class="is-carbone has-text-weight-bold"
                            >{{ section.carbone | splitNumber }} kgCO2e</b-tag
                          >
                        </b-tooltip>
                      </a>
                      <a class="level-item">
                        <b-tooltip
                          :label="$t('distanceAller')"
                          type="is-white"
                          position="is-bottom"
                        >
                          <b-tag
                            class="is-distance has-text-weight-bold"
                            size="is-small"
                          >
                            <span>
                              {{ section.distance | splitNumber }} km</span
                            >
                          </b-tag>
                        </b-tooltip>
                      </a>
                    </div>
                  </nav>
                </div>
              </article>
            </div>

            <nav class="mission-tags">
              <b-tooltip
                :label="$t('dateDepart')"
                type="is-white"
                position="is-bottom"
              >
                <b-tag class="is-white-ter has-text-weight-bold">{{
                  $moment(mission.dateDepart).format('DD/MM/YYYY')
                }}</b-tag>
              </b-tooltip>
              <b-tooltip
                :label="$t('empreinteCarboneTotale')"
                type="is-white"
                position="is-bottom"
              >
                <b-tag class="is-carbone has-text-weight-bold"
                  >{{ mission.carbone | splitNumber }} kgCO2e</b-tag
                >
              </b-tooltip>
              <b-tooltip
                :label="$t('distanceTotale')"
                type="is-white"
                position="is-bottom"
              >
                <b-tag
                  class="
                    card-footer-item
                    has-background-distance has-text-white has-text-weight-bold
                  "
                  size="is-small"
                >
                  <span> {{ mission.distance | splitNumber }} km</span>
                </b-tag>
              </b-tooltip>
            </nav>
          </div>

          <div class="media-right is-hidden-mobile">
            <b-tooltip
              :label="$t('modifierNom')"
              type="is-white"
              position="is-top"
            >
              <b-button
                icon-left="alphabetical"
                type="is-dark"
                size="is-medium"
                @click.native.stop="setNouveauNomVoyage(mission)"
              />
            </b-tooltip>
            <b-tooltip
              :label="$t('modifierDonnees')"
              type="is-white"
              position="is-top"
            >
              <b-button
                icon-left="pencil"
                type="is-dark"
                size="is-medium"
                @click.native.stop="openUpdateMissionForm(mission)"
              />
            </b-tooltip>
            <b-tooltip :label="$t('copier')" type="is-white" position="is-top">
              <b-button
                icon-left="content-copy"
                type="is-dark"
                size="is-medium"
                @click.native.stop="addMission(mission)"
              />
            </b-tooltip>
            <b-tooltip
              :label="$t('afficherDetails')"
              type="is-white"
              position="is-top"
            >
              <b-button
                icon-left="file-document"
                type="is-dark"
                size="is-medium"
                @click.native.stop="
                  () => {
                    detailsMissionModal = true
                    detailsMission = mission
                  }
                "
              />
            </b-tooltip>

            <b-tooltip
              :label="$t('supprimer')"
              type="is-white"
              position="is-top"
            >
              <b-button
                icon-left="delete"
                type="is-dark"
                size="is-medium"
                @click.native.stop="confirmDelete(mission)"
              />
            </b-tooltip>
          </div>
        </article>
      </div>
    </transition-group>
    <div v-else class="title is-3 has-text-centered mt-8 has-text-grey">
      {{ $t('aucuneDonnee') }}
    </div>

    <div class="columns is-centered">
      <div
        v-if="missions && countMissions > missionsParPage"
        class="column is-10 mt-4"
      >
        <b-pagination
          :total="countMissions"
          :current.sync="currentPage"
          range-before="1"
          range-after="1"
          order="is-right"
          size="is-medium"
          :per-page="missionsParPage"
          icon-prev="chevron-left"
          icon-next="chevron-right"
          aria-next-label="Next page"
          aria-previous-label="Previous page"
          aria-page-label="Page"
          aria-current-label="Current page"
        ></b-pagination>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import FormMissionComponent from '@/components/forms/FormMission.vue'
import FormMissionUpdateComponent from '@/components/forms/FormMissionUpdate.vue'
import DetailsMissionComponent from '@/components/details/DetailsMission.vue'
// var fetchTimer;

export default {
  name: 'TabMissionComponent',
  components: {
    FormMissionComponent,
    FormMissionUpdateComponent,
    DetailsMissionComponent,
  },
  data() {
    return {
      formMissionModal: false,
      formMissionUpdateModal: false,
      detailsMissionModal: false,
      detailsMission: null,
      updatedMission: null,
      nouveauNomVoyage: [],
      showSections: false,
      currentPage: 1,
      missionsParPage: 20,

      order: {
        dateDepart: false,
        carbone: null,
        distance: null,
      },

      orderIcons: {
        dateDepart: 'chevron-up-circle',
        carbone: 'chevron-up',
        distance: 'chevron-up',
      },

      iconsMission: {
        Avion: 'airplane',
        Train: 'train',
        Voiture: 'car',
        Taxi: 'taxi',
        Métro: 'subway',
        RER: 'subway-variant',
        Bus: 'bus',
        Ferry: 'ferry',
        Tramway: 'subway-variant',
      },
    }
  },
  computed: {
    ...mapState(['annee']),
    ...mapState('missions', ['missions', 'isLoadingMissions', 'countMissions']),
  },
  watch: {
    missions() {
      this.nouveauNomVoyage = new Array(this.missions.length).fill(false)
    },
    currentPage() {
      this.$store.dispatch('missions/getMissions', {
        annee: this.$store.state.annee,
        pageNumber: this.currentPage,
      })
    },
  },
  created() {
    this.nouveauNomVoyage = new Array(this.missions.length).fill(false)
  },
  methods: {
    addMission(mission) {
      this.$store.dispatch('missions/addMission', mission).then((data) => {
        this.formMissionModal = false
        this.$buefy.toast.open({
          duration: 5000,
          position: 'is-bottom-right',
          message: this.$t('ajouterDonnee') + ` ${parseInt(data.dateDepart)}`,
          type: 'is-success',
        })
      })
    },
    updateMission(mission) {
      this.$store.dispatch('missions/updateMission', mission).then(() => {
        this.formMissionUpdateModal = false
        this.$buefy.toast.open({
          duration: 5000,
          position: 'is-bottom-right',
          message: this.$t('modifierDonnee'),
          type: 'is-success',
        })
      })
    },
    confirmDelete(mission) {
      this.$buefy.dialog.confirm({
        title: this.$t('supprimerMission'),
        message: this.$t('confirmerSuppr'),
        confirmText: this.$t('confirmer'),
        cancelText: this.$t('annuler'),
        type: 'is-danger',
        hasIcon: true,
        onConfirm: () => this.deleteMission(mission),
      })
    },
    deleteMission(mission) {
      this.$store.dispatch('missions/deleteMission', mission).then(() => {
        this.$buefy.toast.open({
          duration: 5000,
          position: 'is-bottom-right',
          message: this.$t('supprimerDonnee'),
          type: 'is-danger',
        })
      })
    },
    canDeleteMission(mission) {
      for (let i = 0; i < mission.sections.length; i++) {
        const section = mission.sections[i]
        if (this.missionAConsiderer(section.modeDeplacement)) {
          return false
        }
      }
      return true
    },
    openUpdateMissionForm(mission) {
      this.updatedMission = JSON.parse(JSON.stringify(mission))
      this.formMissionUpdateModal = true
    },
    updateNomVoyage(mission) {
      const index = this.missions.findIndex((obj) => obj.id === mission.id)
      const copy = JSON.parse(JSON.stringify(mission))
      copy.nomVoyage = this.nouveauNomVoyage[index]
      this.updateMission(copy)
    },
    setNouveauNomVoyage(mission) {
      const index = this.missions.findIndex((obj) => obj.id === mission.id)
      if (!this.nouveauNomVoyage[index]) {
        this.$set(this.nouveauNomVoyage, index, mission.nomVoyage)
      } else {
        this.$set(this.nouveauNomVoyage, index, false)
      }
    },
    changeOrder(keyOrder) {
      const formerValue = this.order[keyOrder]
      for (const key of Object.keys(this.order)) {
        this.order[key] = null
        this.orderIcons[key] = 'chevron-up'
      }
      if (formerValue === null) {
        this.order[keyOrder] = false
        this.orderIcons[keyOrder] = 'chevron-up-circle'
      } else if (formerValue === false) {
        this.order[keyOrder] = true
        this.orderIcons[keyOrder] = 'chevron-down-circle'
      } else {
        this.order[keyOrder] = false
        this.orderIcons[keyOrder] = 'chevron-up-circle'
      }

      const valueOrder = this.order[keyOrder]
      this.$store.dispatch('missions/sortMission', {
        keyOrder,
        valueOrder,
      })
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/scss/variables.scss';
.form-inline {
  display: flex;
  align-items: center;
}

#order-box button {
  font-size: 1.25rem;
  font-weight: bold;
}

.aller-retour {
  display: flex;
  position: absolute;
  right: -7rem;
  height: 100%;
  align-items: center;
  padding-left: 10px;
  border-left: 3px solid white;
}

#box-add:hover {
  cursor: pointer;
  background-color: darken($secondary, 3%) !important;
}

#box-fold:hover {
  cursor: pointer;
  background-color: darken($white-ter, 3%) !important;
}

.mission-tags {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 0.75rem;

  .b-tooltip {
    margin-right: 0.75rem;
    margin-bottom: 0.75rem;
    flex-grow: 1;
    max-width: 10rem;
  }

  .tag {
    width: 100%;
  }
}

.list-item {
  display: inline-block;
  margin-right: 10px;
}

.list-move {
  transition: transform 0.5s;
}

.list-enter-active,
.list-leave-active {
  transition: all 0.2s;
}

.list-enter-active {
  transition: all 0.2s;
  transition-delay: 0.3s;
}
.list-enter, .list-leave-to /* .list-leave-active below version 2.1.8 */ {
  opacity: 0;
  transform: translateX(30px);
}
</style>

<i18n lang="yaml">
fr:
  ajouterMission: Ajouter une mission
  masquerSections: Masquer les sections
  montrerSections: Montrer les sections
  aucuneDonnee: Aucune mission renseignée pour cette année
  ajouterDonnee: La mission a été ajoutée à l'année
  modifierDonnee: La mission a été modifiée
  confirmerSuppr: Êtes-vous certain de vouloir supprimer cette mission ?
  supprimerDonnee: La mission a été supprimée
  supprimerMission: Supprimer la mission
  empreinteAller: Empreinte d'un aller
  distanceAller: Empreinte d'un aller
  allerRetour: Aller-retour
en:
  ajouterMission: Add a travel
  masquerSections: Hide sections
  montrerSections: Show sections
  aucuneDonnee: No travel provided for this year
  ajouterDonnee: The travel has been added to the year
  modifierDonnee: The travel has been updated
  confirmerSuppr: Are you sure you want to delete this travel ?
  supprimerDonnee: The travel has been deleted
  supprimerMission: Delete the travel
  empreinteAller: One-way footprint
  distanceAller: One-way distance
  allerRetour: Round trip
</i18n>
