<template>
  <div>
    <footer class="footer footer-dark has-text-centered mt-10">
      <div class="container has-text-centered">
        <div class="columns is-centered is-vcentered">
          <!-- <div class="column is-4">
          <a @click="$router.push({ name: 'notice' })" class="heading is-size-5"
            >Notice RGPD</a
          >
        </div> -->
          <div class="column is-offset-4 is-4">
            <div class="columns">
              <div class="column">
                <p class="heading">Framagit</p>
                <p class="title">
                  <a
                    target="_blank"
                    href="https://framagit.org/jthanwer/monpetitcarbone/"
                  >
                    <b-icon size="is-medium" icon="gitlab"></b-icon>
                  </a>
                </p>
              </div>
              <div class="column">
                <p class="heading">Labos1point5</p>
                <p class="title">
                  <a target="_blank" href="https://labos1point5.org/">
                    <img
                      src="~/assets/images/logos/logoLabos1p5_small.png"
                      style="width: 32px"
                    />
                  </a>
                </p>
              </div>
            </div>

            <div>
              <small>
                {{ $t('concu') }}
                <a
                  href="https://www.linkedin.com/in/jo%C3%ABl-thanwerdas-b87b73b9/"
                  >Joël Thanwerdas</a
                >,
                <span v-html="$t('auteur')"></span>
              </small>
            </div>

            <div class="mt-3">
              <b>Contact : joel.thanwerdas@gmail.com</b>
            </div>
          </div>
          <div class="column is-4"></div>
        </div>
      </div>
      <br />
    </footer>

    <div
      class="columns is-centered is-vcentered has-background-dark is-size-6 has-text-centered"
    >
      <div class="column is-6">
        <a @click="$router.push(localePath({ name: 'mentions-legales' }))">
          {{ $t('mentionsLegales') }}</a
        >
      </div>
      <div class="column is-6">
        <a
          @click="
            $router.push(localePath({ name: 'politique-confidentialite' }))
          "
          >{{ $t('politiqueConfidentialite') }}</a
        >
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Footer',
}
</script>

<style lang="scss" scoped>
a {
  color: #fff !important;
  &:hover {
    color: #4fc1ea !important;
  }
}
</style>

<i18n lang="yaml">
fr:
  concu: Conçu par
  auteur: >-
    doctorant au LSCE, 
    <br />avec le soutien de l'équipe
    technique de <em>Labos1point5</em>.
    <br />

en:
  concu: Designed by
  auteur: >-
    PhD student at LSCE, 
    <br />with the support of
    <em>Labos1point5's</em> technical team.
    <br />
</i18n>
