<template>
  <transition
    name="custom-classes-transition"
    enter-active-class="animated fadeInDown faster"
    mode="out-in"
    tag="div"
  >
    <section
      v-if="$route.path.includes('/calculateur')"
      id="hero-annee"
      class="has-bg-img"
    >
      <div id="select-annee">
        <span class="icon" @click="decreaseRange()">
          <i id="decrease-annee" class="mdi mdi-arrow-left mdi-24px"></i>
        </span>
        <p
          v-for="year in getRange(yearBegin, yearEnd)"
          :key="year"
          class="select-annee-item"
          @click="
            () => {
              if (year != annee) {
                $store.dispatch('updateYear', year)
              }
            }
          "
        >
          <span v-if="year == annee" class="is-size-5 has-text-weight-bold">{{
            year
          }}</span>
          <span v-else>{{ year }}</span>
        </p>
        <span class="icon" @click="increaseRange()">
          <i id="increase-annee" class="mdi mdi-arrow-right mdi-24px"></i>
        </span>
      </div>
      <div id="box-annee">
        <p class="is-size-7">{{ $t('annee') }}</p>
        <p class="is-size-1">{{ annee }}</p>
      </div>
    </section>
  </transition>
</template>

<script>
import { mapState } from 'vuex'
import range from '@/utils/range.js'
export default {
  name: 'HeroYear',
  data() {
    return {
      yearBegin: 2018,
      yearEnd: 2023,
    }
  },
  computed: mapState(['annee']),
  methods: {
    getRange() {
      return range(this.yearBegin, this.yearEnd + 1)
    },
    decreaseRange() {
      const items = document.getElementsByClassName('select-annee-item')
      for (let i = 0; i < items.length; i++) {
        items[i].style.animation = 'slide-right 0.2s linear'
      }
      setTimeout(() => {
        this.yearBegin -= 1
        this.yearEnd -= 1
        this.disableAnimation()
      }, 200)
    },
    increaseRange() {
      const items = document.getElementsByClassName('select-annee-item')
      for (let i = 0; i < items.length; i++) {
        items[i].style.animation = 'slide-left 0.2s linear'
      }
      setTimeout(() => {
        this.yearBegin += 1
        this.yearEnd += 1
        this.disableAnimation()
      }, 200)
    },
    disableAnimation() {
      const items = document.getElementsByClassName('select-annee-item')
      for (let i = 0; i < items.length; i++) {
        items[i].style.animation = ''
      }
    },
  },
}
</script>

<style lang="scss">
@import '~/assets/scss/variables.scss';
#hero-annee {
  position: relative;
  left: 0px;
  right: 0px;
  top: 0px;
  padding-top: $navbar-height;
  height: 4 * $navbar-height;
  margin-bottom: -1 * $navbar-height;
  z-index: 30;
}

.hero-body {
  display: flex;
  align-items: center;
  height: 3 * $navbar-height;
}

.has-bg-img {
  background: linear-gradient(
    90deg,
    rgba(162, 61, 78, 1) 0%,
    rgba(103, 85, 137, 1) 50%,
    rgba(53, 88, 161, 1) 78%,
    rgba(22, 139, 188, 1) 100%
  );
  background-size: cover;
}

#box-annee {
  color: white;
  font-size: 3rem;
  text-align: center;
  margin: 0px 30%;
}

#select-annee {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1rem;
  color: white;
  p {
    box-sizing: border-box;
    cursor: pointer;
    padding: 30px 10px;
    transition: all 0.5s;
  }
  p:hover {
    transition: all 0.5s;
    transform: translateY(15px);
    font-weight: bold;
  }
}
#decrease-annee {
  cursor: pointer;
  padding: 15px;
  &::before {
    transition: all 0.5s;
  }
  &:hover::before {
    font-weight: bold;
    transform: translateX(-10px);
    transition: all 0.5s;
  }
}

#increase-annee {
  cursor: pointer;
  padding: 15px;
  &::before {
    transition: all 0.5s;
  }
  &:hover::before {
    font-weight: bold;
    transform: translateX(10px);
    transition: all 0.5s;
  }
}

@media screen and (max-width: $tablet) {
  #select-annee {
    font-size: 0.8rem;
  }
}

@keyframes slide-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-13.4vw);
  }
}

@keyframes slide-right {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(13.4vw);
  }
}
</style>
