<template>
  <b-navbar id="main-navbar" shadow close-on-click class="has-bg-img">
    <template slot="brand">
      <div>
        <img
          src="~/assets/images/logos/logo_b.png"
          alt="logo_blanc"
          class="image-brand"
        />
      </div>
    </template>
    <template slot="end">
      <b-navbar-item
        v-if="$auth.loggedIn"
        tag="nuxt-link"
        :to="localePath('calculateur')"
      >
        <b-icon class="mr-3" icon="molecule-co2"></b-icon>
        <span class="is-uppercase is-size-6">{{ $t('calculateur') }}</span>
      </b-navbar-item>
      <b-navbar-item
        v-if="$auth.loggedIn"
        tag="nuxt-link"
        :to="localePath('graphiques')"
      >
        <b-icon class="mr-3" icon="chart-areaspline"></b-icon>
        <span class="is-uppercase is-size-6">{{ $t('vueDensemble') }}</span>
      </b-navbar-item>

      <b-navbar-item
        v-if="!$auth.loggedIn"
        tag="nuxt-link"
        :to="localePath('index')"
      >
        <b-icon class="mr-3" icon="home"></b-icon>
        <span class="is-uppercase is-size-6">{{ $t('accueil') }}</span>
      </b-navbar-item>

      <b-navbar-dropdown right hoverable class="is-size-5">
        <template slot="label">
          <b-icon class="mr-3" icon="magnify"></b-icon>
          <span class="is-uppercase is-size-6">{{ $t('aPropos') }}</span>
        </template>
        <b-navbar-item tag="nuxt-link" :to="localePath('methodologie')">
          <b-icon type="is-dark" class="mr-3" icon="book-open-outline"></b-icon>
          {{ $t('methodologie') }}
        </b-navbar-item>
        <b-navbar-item
          v-if="$auth.loggedIn"
          tag="nuxt-link"
          :to="localePath('faire-retour')"
        >
          <b-icon type="is-dark" class="mr-3" icon="comment-edit"></b-icon>
          {{ $t('ecrireRetour') }}
        </b-navbar-item>
      </b-navbar-dropdown>

      <b-navbar-dropdown
        v-if="$auth.loggedIn"
        right
        hoverable
        class="is-size-5"
      >
        <template slot="label">
          <b-icon class="mr-3" icon="account"></b-icon>
          <span class="is-uppercase is-size-6">{{ $t('profil') }}</span>
        </template>
        <b-navbar-item tag="nuxt-link" :to="localePath('profile')">
          <b-icon type="is-dark" class="mr-3" icon="account"></b-icon>
          {{ $t('gestionCompte') }}
        </b-navbar-item>
        <b-navbar-item @click="logout">
          <b-icon type="is-dark" class="mr-3" icon="power"></b-icon>
          {{ $t('deconnexion') }}
        </b-navbar-item>
      </b-navbar-dropdown>

      <b-navbar-item
        v-for="locale in availableLocales"
        :key="locale.code"
        style="cursor: pointer"
        tag="div"
        @click.prevent.stop="$i18n.setLocale(locale.code)"
      >
        <img
          :src="require(`~/assets/images/logos/logo_${locale.code}.png`)"
          style="height: 15px; width: 25px"
        />
      </b-navbar-item>
    </template>
  </b-navbar>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  name: 'Navbar',
  data() {
    return {
      appTitle: 'Mon petit Carbone',
      sidebar: false,
      items_profil: [
        {
          title: 'Mon profil',
        },
        {
          title: 'Se déconnecter',
        },
      ],
    }
  },
  computed: {
    ...mapGetters(['isAuthenticated', 'isStaff']),
    availableLocales() {
      return this.$i18n.locales.filter((i) => i.code !== this.$i18n.locale)
    },
  },
  methods: {
    async logout() {
      await this.$auth.logout()
    },
  },
}
</script>

<style lang="scss">
@import '~/assets/scss/variables.scss';
a {
  text-decoration: none !important;
}

.icon-nav {
  margin-right: 3em;
}

.brand {
  display: flex !important;
  flex-direction: column !important;
  align-items: flex-start !important;
}

.image-brand {
  max-height: calc(#{$navbar-height} - 16px);
  margin: 8px;
}

#main-navbar {
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  z-index: 31 !important;

  & .navbar-dropdown a.navbar-item:focus,
  .navbar-dropdown a.navbar-item {
    color: black !important;
  }
}

@media (max-width: $desktop) {
  #main-navbar .navbar-menu {
    background: linear-gradient(
      90deg,
      rgba(162, 61, 78, 1) 0%,
      rgba(103, 85, 137, 1) 50%,
      rgba(53, 88, 161, 1) 78%,
      rgba(22, 139, 188, 1) 100%
    );
    // & .navbar-item,
    // .navbar-link {
    //   color: white;
    // }

    & .navbar-dropdown a.navbar-item:focus,
    .navbar-dropdown a.navbar-item {
      color: white !important;
    }
  }
}
</style>
