{% extends 'base.html' %}


{% block title %}
Entrez le nouveau mot de passe
{% endblock %}

{% block content %}

{% if validlink %}

<form method="post">
  {% csrf_token %}
  <div class="field">
    <label for="id_new_password1"
           class="label">Entrez votre nouveau mot de passe:</label>
    {% if form.new_password1.errors %}
    <p class="control has-icons-left">
      <input class="input is-danger"
             type="password"
             name="new_password1"
             autocomplete="new-password"
             required=""
             placeholder="Nouveau mot de passe"
             id="id_new_password1">
    </p>
    <div class="help is-danger">
      {{ form.new_password1.errors }}
    </div>
    {% else %}
    <p class="control has-icons-left">
      <input class="input"
             type="password"
             name="new_password1"
             autocomplete="new-password"
             required=""
             placeholder="Nouveau mot de passe"
             id="id_new_password1">
    </p>
    {% endif %}

  </div>
  <div class="field">
    <label for="id_new_password2"
           class="label">Confirmez le mot de passe: </label>
    {% if form.new_password2.errors %}
    <p class="control has-icons-left">
      <input class="input is-danger"
             type="password"
             name="new_password2"
             autocomplete="new-password"
             required=""
             placeholder="Confirmation"
             id="id_new_password2">
    </p>
    <div class="help is-danger">
      {{ form.new_password2.errors }}
    </div>
    {% else %}
    <p class="control has-icons-left">
      <input class="input"
             type="password"
             name="new_password2"
             autocomplete="new-password"
             required=""
             placeholder="Confirmation"
             id="id_new_password2">
    </p>
    {% endif %}
  </div>
  <input type="submit"
         class="button is-primary"
         value="Valider">

</form>

{% else %}

<h1>Lien invalide</h1>

<p>Le lien de réinitialisation du mot de passe est invalide, sûrement car il a déjà été utilisé. Merci de demander un autre lien.</p>

{% endif %}

{% endblock %}