<template>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">{{ $t('nouvelleMission') }}</p>
      <b-button
        type="is-danger"
        class="ml-5"
        icon-left="close"
        @click="$parent.close()"
      />
    </header>
    <section class="modal-card-body">
      <div class="container is-fluid">
        <ValidationObserver ref="form" slim>
          <div class="columns is-vcentered">
            <div class="column is-8">
              <div class="has-background-white-ter pa-5">
                <!----------->
                <!-- Nom -->
                <!----------->
                <ValidationProvider v-slot="{ errors }" slim rules="required">
                  <b-field
                    :label="$t('nomMission')"
                    :message="errors"
                    :type="{ 'is-danger': errors[0] }"
                  >
                    <b-input
                      v-model="form.nomVoyage"
                      :placeholder="$t('nomMissionDefaut')"
                    >
                    </b-input>
                  </b-field>
                </ValidationProvider>

                <!----------->
                <!-- Dates -->
                <!----------->
                <b-field grouped group-multiline>
                  <ValidationProvider v-slot="{ errors }" slim rules="required">
                    <b-field
                      :label="$t('dateDepart')"
                      expanded
                      :message="errors"
                      :type="{ 'is-danger': errors[0] }"
                    >
                      <b-datepicker
                        v-model="form.dateDepart"
                        :focused-date="focusedDateDepart"
                        :max-date="form.dateRetour"
                        editable
                        :locale="$i18n.locale"
                        :first-day-of-week="1"
                        :placeholder="$t('dateDepartDefaut')"
                      >
                      </b-datepicker>
                    </b-field>
                  </ValidationProvider>
                  <b-field :label="$t('dateRetour')" expanded>
                    <b-datepicker
                      v-model="form.dateRetour"
                      expanded
                      :focused-date="focusedDateRetour"
                      :min-date="form.dateDepart"
                      editable
                      :locale="$i18n.locale"
                      :first-day-of-week="1"
                      :placeholder="$t('dateDepartDefaut')"
                    >
                    </b-datepicker>
                    <p class="control">
                      <b-button
                        icon-left="close"
                        type="is-danger"
                        @click="form.dateRetour = null"
                      ></b-button>
                    </p>
                  </b-field>
                </b-field>

                <b-field class="mr-15" :label="$t('allerRetourQuestion')">
                  <b-switch
                    v-model="form.isAllerRetour"
                    class="mt-1"
                    type="is-success"
                    passive-type="is-danger"
                  >
                    {{ form.isAllerRetour ? $t('oui') : $t('non') }}
                  </b-switch>
                </b-field>
              </div>
            </div>
            <div class="column is-4" style="align-self: stretch">
              <div class="level box has-text-centered" style="height: 100%">
                <div class="level-item">
                  <div>
                    <p class="heading has-text-distance">
                      {{ $t('distance') }}
                    </p>
                    <div class="title is-size-2 has-text-distance">
                      <p v-if="mission">
                        {{ mission.distance | splitNumber }}
                        <span class="is-size-4">km</span>
                      </p>
                      <p v-else>... <span class="is-size-4">km</span></p>
                    </div>
                  </div>
                </div>
                <div class="level-item">
                  <div>
                    <p class="heading has-text-carbone">
                      {{ $t('empreinteCarbone') }}
                    </p>
                    <div class="title is-size-2 has-text-carbone">
                      <p
                        v-if="
                          mission &&
                          mission.distance &&
                          !form.modeDeplacement.some(function (elt) {
                            return elt === null
                          })
                        "
                      >
                        {{ mission.carbone | splitNumber }}
                        <span class="is-size-4">kgCO2e</span>
                      </p>
                      <p v-else>... <span class="is-size-4">kgCO2e</span></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-------------->
          <!-- Sections -->
          <!-------------->

          <div class="columns mb-5">
            <div class="column is-8">
              <div class="has-background-white-ter pa-5">
                <h1 class="mt-2 mb-4 has-text-centered">
                  {{ $t('sectionsExplication') }}
                  <span v-if="form.isAllerRetour" class="has-text-weight-bold"
                    >{{ $t('sectionsExplicationAllerRetour') }}
                  </span>
                </h1>
                <b-steps v-model="activeSection">
                  <template v-for="sect in sections">
                    <b-step-item :key="sect" class="mt-1 mb-1" :step="sect">
                      <h1 class="title has-text-centered mb-2">
                        Section n°{{ sect }}
                      </h1>
                      <b-field grouped group-multiline>
                        <ValidationProvider
                          v-slot="{ errors }"
                          :name="'sect_modedep_' + sect"
                          slim
                          rules="required"
                        >
                          <b-field
                            style="width: 49.5%"
                            :label="$t('modeDeplacement')"
                            :message="errors"
                            :type="{ 'is-danger': errors[0] }"
                          >
                            <b-select
                              v-model="form.modeDeplacement[sect - 1]"
                              expanded
                            >
                              <option value="Avion">{{ $t('avion') }}</option>
                              <option value="Train">{{ $t('train') }}</option>
                              <option value="Voiture">
                                {{ $t('voiture') }}
                              </option>
                              <option value="Taxi">{{ $t('taxi') }}</option>
                              <option value="Bus">{{ $t('bus') }}</option>
                              <option value="Tramway">
                                {{ $t('tramway') }}
                              </option>
                              <option value="RER">{{ $t('rer') }}</option>
                              <option value="Métro">{{ $t('metro') }}</option>
                              <option value="Ferry">{{ $t('ferry') }}</option>
                            </b-select>
                          </b-field>
                        </ValidationProvider>

                        <ValidationProvider
                          v-if="
                            ['Voiture', 'Taxi'].includes(
                              form.modeDeplacement[sect - 1]
                            )
                          "
                          v-slot="{ errors }"
                          :name="'sect_numberpass_' + sect"
                          slim
                          rules="required"
                        >
                          <b-field
                            style="width: 49%"
                            :label="$t('nombrePassagers')"
                            :message="errors"
                            :type="{ 'is-danger': errors[0] }"
                          >
                            <b-numberinput
                              v-if="
                                ['Voiture', 'Taxi'].includes(
                                  form.modeDeplacement[sect - 1]
                                )
                              "
                              v-model="form.nbPersonneVoiture[sect - 1]"
                              controls-position="compact"
                              :min="1"
                              expanded
                            >
                            </b-numberinput>
                          </b-field>
                        </ValidationProvider>
                      </b-field>

                      <b-field grouped group-multiline>
                        <ValidationProvider
                          v-slot="{ errors }"
                          :name="'sect_depart_' + sect"
                          slim
                          rules="required"
                        >
                          <b-field
                            expanded
                            :label="$t('lieuDepart')"
                            :message="errors"
                            :type="{ 'is-danger': errors[0] }"
                          >
                            <b-autocomplete
                              v-model="form.localisationInputs[2 * (sect - 1)]"
                              name="departure_place"
                              dropdown-position="top"
                              :placeholder="$t('chercherLieu')"
                              :data="localisationItems[2 * (sect - 1)]"
                              icon="map-marker-right"
                              field="name"
                              :loading="isFetching"
                              @typing="resetCountDown($event, 2 * (sect - 1))"
                              @keyup.ctrl.native="
                                getAsyncData(
                                  form.localisationInputs[2 * (sect - 1)],
                                  2 * (sect - 1)
                                )
                              "
                              @select="setLocalisations($event, 2 * (sect - 1))"
                            >
                              <template slot="empty">
                                <span
                                  v-if="
                                    form.localisationInputs[2 * (sect - 1)]
                                      .length > 2 && !isFetching
                                  "
                                >
                                  <b>{{ $t('aucunResultat') }}</b></span
                                >
                                <span
                                  v-else-if="
                                    form.localisationInputs[2 * (sect - 1)]
                                      .length > 2 && isFetching
                                  "
                                >
                                  <b>{{ $t('chargement') }}</b></span
                                >
                                <span v-else>
                                  <b>{{ $t('taperCaracteres') }}</b>
                                </span>
                              </template>
                              <template slot-scope="props">
                                <div
                                  class="is-pulled-left has-text-weight-bold"
                                >
                                  {{ props.option.name }}
                                </div>
                                <div
                                  class="is-pulled-right has-text-weight-bold"
                                >
                                  {{
                                    ISO3166.filter(
                                      (obj) =>
                                        obj.iso == props.option.countryCode
                                    )[0]['nom_' + $i18n.locale]
                                  }}
                                </div>
                                <br />
                                <small>
                                  {{ props.option.toponymName }}
                                </small>
                                <br />
                                <small>
                                  {{ props.option.lat }},
                                  {{ props.option.lng }}
                                </small>
                              </template>
                            </b-autocomplete>
                          </b-field>
                        </ValidationProvider>

                        <ValidationProvider
                          v-slot="{ errors }"
                          :name="'sect_arrivee_' + sect"
                          slim
                          rules="required"
                        >
                          <b-field
                            expanded
                            :label="$t('lieuArrivee')"
                            :message="errors"
                            :type="{ 'is-danger': errors[0] }"
                          >
                            <b-autocomplete
                              v-model="form.localisationInputs[2 * sect - 1]"
                              name="arrival_place"
                              dropdown-position="top"
                              :placeholder="$t('chercherLieu')"
                              :data="localisationItems[2 * sect - 1]"
                              icon="map-marker-left"
                              field="name"
                              keep-first
                              :loading="isFetching"
                              @typing="resetCountDown($event, 2 * sect - 1)"
                              @keyup.ctrl.native="
                                getAsyncData(
                                  form.localisationInputs[2 * sect - 1],
                                  2 * sect - 1
                                )
                              "
                              @select="setLocalisations($event, 2 * sect - 1)"
                            >
                              <template slot="empty">
                                <span
                                  v-if="
                                    form.localisationInputs[2 * sect - 1]
                                      .length > 2 && !isFetching
                                  "
                                >
                                  <b>{{ $t('aucunResultat') }}</b></span
                                >
                                <span
                                  v-else-if="
                                    form.localisationInputs[2 * sect - 1]
                                      .length > 2 && isFetching
                                  "
                                >
                                  <b>{{ $t('chargement') }}</b></span
                                >
                                <span v-else>
                                  <b>{{ $t('TaperCaracteres') }}</b>
                                </span>
                              </template>
                              <template slot-scope="props">
                                <div
                                  class="is-pulled-left has-text-weight-bold"
                                >
                                  {{ props.option.name }}
                                </div>
                                <div
                                  class="is-pulled-right has-text-weight-bold"
                                >
                                  {{
                                    ISO3166.filter(
                                      (obj) =>
                                        obj.iso == props.option.countryCode
                                    )[0]['nom_' + $i18n.locale]
                                  }}
                                </div>
                                <br />
                                <small>
                                  {{ props.option.toponymName }}
                                </small>
                                <br />
                                <small>
                                  {{ props.option.lat }},
                                  {{ props.option.lng }}
                                </small>
                              </template>
                            </b-autocomplete>
                          </b-field>
                        </ValidationProvider>
                      </b-field>
                    </b-step-item>
                  </template>

                  <template slot="navigation" slot-scope="{ previous, next }">
                    <div class="level mx-4">
                      <div class="level-left">
                        <b-button
                          icon-left="chevron-left"
                          :disabled="previous.disabled"
                          @click.prevent="previous.action"
                        >
                        </b-button>
                        <b-button
                          class="ml-3"
                          icon-right="chevron-right"
                          :disabled="next.disabled"
                          @click.prevent="next.action"
                        >
                        </b-button>
                      </div>
                      <div class="level-right">
                        <b-button
                          v-if="activeSection == sections - 1"
                          type="is-primary"
                          icon-left="plus"
                          @click="addSection(next)"
                          >{{ $t('ajouterSection') }}
                        </b-button>
                        <b-button
                          v-if="activeSection > 0"
                          type="is-danger"
                          class="ml-3"
                          icon-left="delete"
                          @click="removeSection(activeSection)"
                          >{{ $t('supprimerSection') }}</b-button
                        >
                      </div>
                    </div>
                  </template>
                </b-steps>
              </div>
            </div>
            <div class="column is-4">
              <l-map
                ref="map"
                :zoom="4"
                :bounds="bounds"
                :options="{ attributionControl: false }"
              >
                <l-tile-layer
                  url="https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png"
                ></l-tile-layer>
                <div v-for="(coords, index) in markersCoords" :key="index">
                  <l-marker :lat-lng="coords" :icon="createIcon(index + 1)">
                  </l-marker>
                </div>
              </l-map>
            </div>
          </div>
        </ValidationObserver>
      </div>
    </section>

    <b-button
      id="button-save"
      style="border-radius: 0px; border-top: solid 3px black"
      type="is-primary"
      size="is-large"
      @click="validate()"
      >{{ $t('enregistrer') }}</b-button
    >
  </div>
</template>

<script>
import { ValidationObserver, ValidationProvider } from 'vee-validate'
import { mapState } from 'vuex'
import { geonames } from '@/mixins/geonames'
import L, { latLngBounds, latLng } from 'leaflet'

import 'leaflet.geodesic'
import icon from 'leaflet/dist/images/marker-icon.png'
import Mission from '@/models/Mission'
import ISO3166 from '@/../data/ISO3166.json'
let typingTimer

L.NumberedDivIcon = L.Icon.extend({
  options: {
    iconUrl: icon,
    number: '',
    shadowUrl: null,
    iconSize: new L.Point(25, 41),
    iconAnchor: new L.Point(13, 41),
    popupAnchor: new L.Point(0, -33),
    className: 'leaflet-div-icon',
  },

  createIcon() {
    const div = document.createElement('div')
    const img = this._createImg(this.options.iconUrl)
    const numdiv = document.createElement('div')
    numdiv.setAttribute('class', 'marker-number')
    numdiv.innerHTML = this.options.number || ''
    div.appendChild(img)
    div.appendChild(numdiv)
    div.classList.add('leaflet-div-icon')
    this._setIconStyles(div, 'icon')
    return div
  },

  createShadow() {
    return null
  },
})

export default {
  name: 'FormMissionComponent',
  components: {
    ValidationObserver,
    ValidationProvider,
  },
  mixins: [geonames],
  props: {
    idElement: {
      type: Number,
      required: false,
      default: null,
    },
    missionInput: {
      type: Object,
      required: false,
      default: null,
    },
  },
  data() {
    return {
      ISO3166,
      sections: 1,
      activeSection: 0,
      distance: null,
      form: {
        nomVoyage: null,
        dateDepart: null,
        dateRetour: null,
        isAllerRetour: false,
        modeDeplacement: [null],
        localisationInputs: ['', ''],
        nbPersonneVoiture: [1],
      },

      distances: [null],
      localisations: [null, null],
      localisationItems: [[], []],
      mission: this.missionInput,
      geodesicLines: null,
      markersCoords: null,

      isFetching: false,
      loadings: [false, false],
    }
  },
  computed: {
    ...mapState(['annee']),
    bounds() {
      const locsNotNull = this.localisations.filter((loc) => loc != null)
      if (locsNotNull.length > 0) {
        const lons = locsNotNull.map((loc) => parseFloat(loc.lng))
        const lats = locsNotNull.map((loc) => parseFloat(loc.lat))
        return latLngBounds([
          latLng(Math.min(...lats) - 1, Math.min(...lons) - 1),
          latLng(Math.max(...lats) + 1, Math.max(...lons) + 1),
        ])
      } else {
        return null
      }
    },
    dayNames() {
      return ['D', 'L', 'M', 'M', 'J', 'V', 'S']
    },
    focusedDateDepart() {
      let date =
        this.annee === this.$moment().year()
          ? this.$moment()
          : this.$moment([this.annee, 0, 1])
      if (this.form.dateRetour) {
        date = this.$moment(this.form.dateRetour)
      }
      return date.toDate()
    },
    focusedDateRetour() {
      let date =
        this.annee === this.$moment().year()
          ? this.$moment()
          : this.$moment([this.annee, 0, 1])
      if (this.form.dateDepart) {
        date = this.$moment(this.form.dateDepart)
      }
      return date.toDate()
    },
  },
  watch: {
    localisations: {
      handler(inputs) {
        const atLeastOneNull = inputs.includes(null)
        if (!atLeastOneNull) {
          this.data2mission()
          this.drawGeodesicLines()
        } else {
          this.mission = null
        }
      },
      deep: true,
    },
    form: {
      handler() {
        if (this.mission) {
          this.mission.isAllerRetour = this.isAllerRetour
          this.data2mission()
        }
      },
      deep: true,
    },
  },
  mounted() {
    if (this.missionInput) {
      this.form.nomVoyage = this.mission.nomVoyage
      this.form.dateDepart = new Date(this.mission.dateDepart)
      this.form.isAllerRetour = this.mission.isAllerRetour
      if (this.mission.dateRetour)
        this.form.dateRetour = new Date(this.mission.dateRetour)
    }
  },
  methods: {
    createIcon(number) {
      return new L.NumberedDivIcon({ number: number.toString() })
    },
    validate() {
      this.$refs.form.validate().then((success) => {
        if (!success) {
          setTimeout(() => {
            const errors = Object.entries(this.$refs.form.errors)
              .map(([key, value]) => ({ key, value }))
              .filter((error) => error.value.length)
            const sectionErrors = []
            for (let ierr = 0; ierr < errors.length; ierr++) {
              const error = errors[ierr]
              const splits = error.key.split('_')
              if (splits[0] === 'sect') {
                sectionErrors.push(parseInt(splits[splits.length - 1]))
              }
            }
            this.activeSection = Math.min(...sectionErrors) - 1
            setTimeout(() => {
              this.$refs.form.refs[errors[0].key].$el.scrollIntoView({
                behavior: 'smooth',
                block: 'center',
              })
            }, 100)
          }, 100)
          return
        }
        this.submit()
      })
    },
    submit() {
      this.$emit('addMission', this.mission, this.idElement)
    },
    setLocalisations(option, id) {
      this.$set(this.localisations, id, option)
      this.computeDistances()
      this.setMarkersCoords()
    },
    data2mission() {
      const data = {
        nomVoyage: this.form.nomVoyage,
        dateDepart: this.$moment(this.form.dateDepart).toISOString(true),
        dateRetour: this.$moment(this.form.dateRetour).toISOString(true),
        isAllerRetour: this.form.isAllerRetour,
        sections: [],
      }
      for (let j = 0; j < this.sections; j++) {
        data.sections.push({
          modeDeplacement: this.form.modeDeplacement[j],
          villeDepart: this.localisations[2 * j].name,
          paysDepart: this.localisations[2 * j].countryCode,
          villeDestination: this.localisations[2 * j + 1].name,
          paysDestination: this.localisations[2 * j + 1].countryCode,
          nbPersonneVoiture: parseInt(this.form.nbPersonneVoiture[j]),
          distance: this.distances[j],
        })
      }
      this.mission = new Mission(data)
    },
    computeDistances() {
      const lats = new Array(this.localisations.length).fill(0)
      const lons = new Array(this.localisations.length).fill(0)
      for (let j = 0; j < this.localisations.length; j++) {
        if (this.localisations[j]) {
          lats[j] = this.localisations[j].lat
          lons[j] = this.localisations[j].lng
        }
      }
      for (let i = 0; i < this.distances.length; i++) {
        this.$set(
          this.distances,
          i,
          this.geodesicDist(
            lats[2 * i],
            lats[2 * i + 1],
            lons[2 * i],
            lons[2 * i + 1]
          )
        )
      }
    },
    geodesicDist(lat1, lat2, lon1, lon2) {
      if (lat1 === lat2 && lon1 === lon2) {
        return 0
      } else {
        const radlat1 = (Math.PI * lat1) / 180
        const radlat2 = (Math.PI * lat2) / 180
        const theta = lon1 - lon2
        const radtheta = (Math.PI * theta) / 180
        let dist =
          Math.sin(radlat1) * Math.sin(radlat2) +
          Math.cos(radlat1) * Math.cos(radlat2) * Math.cos(radtheta)
        if (dist > 1) {
          dist = 1
        }
        dist = Math.acos(dist)
        dist = (dist * 180) / Math.PI
        dist = dist * 60 * 1.1515
        dist = dist * 1.609344
        return dist
      }
    },
    addSection() {
      this.sections++
      this.form.modeDeplacement.push(null)
      this.form.nbPersonneVoiture.push(1)
      this.distances.push(null)
      this.form.localisationInputs.push('', '')
      this.localisationItems.push([], [])
      this.localisations.push(null, null)
      const lengthLoc = this.form.localisationInputs.length
      this.form.localisationInputs[
        lengthLoc - 2
      ] = this.form.localisationInputs[lengthLoc - 3]
      this.localisations[lengthLoc - 2] = this.localisations[lengthLoc - 3]
      setTimeout(() => this.activeSection++, 100)
    },
    removeSection(index) {
      this.sections--
      this.activeSection--
      this.form.modeDeplacement.splice(index, 1)
      this.form.nbPersonneVoiture.splice(index, 1)
      this.distances.splice(index, 1)
      this.form.localisationInputs.splice(2 * index, 2)
      setTimeout(() => {
        this.localisationItems.splice(2 * index, 2)
        this.localisations.splice(2 * index, 2)
        this.computeDistances()
        this.setMarkersCoords()
      }, 100)
    },
    getAsyncData(name, index) {
      if (name.length < 3) {
        this.isFetching = false
        return
      }
      this.searchGEONames(name)
        .then((results) => {
          this.localisationItems[index] = results.data.geonames
        })
        .catch((error) => {
          this.localisationItems[index] = []
          throw error
        })
        .finally(() => {
          this.isFetching = false
        })
    },
    resetCountDown(name, index) {
      this.isFetching = true
      clearTimeout(typingTimer)
      typingTimer = setTimeout(this.getAsyncData.bind(null, name, index), 400)
    },
    drawGeodesicLines() {
      const map = this.$refs.map.mapObject
      // Check the localisations are not null
      const locsNotNull = this.localisations.filter((loc) => loc != null)
      if (locsNotNull.length > 0) {
        const coords = locsNotNull.map((loc) => [
          parseFloat(loc.lat),
          parseFloat(loc.lng),
        ])

        // Remove links between sections if needed
        let newCoords = []
        let startIndex = 0
        let previousLatLon = coords[0]
        for (let i = 0; i < coords.length; i += 2) {
          const latLon = coords[i]
          if (
            latLon[0] !== previousLatLon[0] ||
            latLon[1] !== previousLatLon[1]
          ) {
            newCoords.push([...coords.slice(startIndex, i)])
            startIndex = i
          }
          previousLatLon = coords[i + 1]
        }
        if (startIndex === 0) {
          newCoords = coords
        } else {
          newCoords.push([...coords.slice(startIndex, coords.length)])
        }

        // Draw Geodesic lines
        if (this.geodesicLines) {
          this.geodesicLines.setLatLngs(newCoords)
        } else {
          this.geodesicLines = new L.Geodesic(newCoords).addTo(map)
        }
      }
    },
    setMarkersCoords() {
      const locsNotNull = this.localisations.filter((obj) => obj != null)
      if (locsNotNull.length > 0) {
        const coords = locsNotNull.map((loc) => [
          parseFloat(loc.lat),
          parseFloat(loc.lng),
        ])

        this.markersCoords = [coords[0]]
        for (let i = 1; i < coords.length; i++) {
          if (i % 2 === 0) {
            const latLon = coords[i]
            const previousLatLon = coords[i - 1]
            if (
              latLon[0] !== previousLatLon[0] ||
              latLon[1] !== previousLatLon[1]
            ) {
              this.markersCoords.push(coords[i])
            }
          } else {
            this.markersCoords.push(coords[i])
          }
        }
        const l = this.markersCoords.length
        if (
          this.markersCoords[0][0] === this.markersCoords[l - 1][0] &&
          this.markersCoords[0][1] === this.markersCoords[l - 1][1]
        ) {
          this.markersCoords.splice(l - 1, 1)
        }
      }
    },
  },
}
</script>

<style lang="scss">
@import '~/assets/scss/variables.scss';
.leaflet-div-icon {
  background: transparent;
  border: none;
}

.leaflet-marker-icon .marker-number {
  position: relative;
  background-color: #1b619e;
  border-radius: 50%;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  width: 25px;
  text-align: center;
}
</style>

<i18n lang="yaml">
fr:
  nouvelleMission: Nouvelle mission
  nomMission: Nom de la mission
  nomMissionDefaut: Donnez un nom à votre mission...
  dateDepartDefaut: JJ/MM/AAAA
  dateRetour: Date de retour au domicile (non obligatoire)
  allerRetourQuestion: L'itinéraire du retour est-il identique à l'itinéraire de l'aller ?
  sectionsExplication: Renseignez ici les différentes sections de votre mission
  sectionsExplicationAllerRetour: (seulement celles associées à votre itinéraire aller)
  chercherLieu: Cherchez un lieu...
  aucunResultat: Aucun résultat
  taperCaracteres: Tapez plus de 2 caractères
  ajouterSection: Ajouter une section
  supprimerSection: Supprimer la section
en:
  nouvelleMission: New travel
  nomMission: Travel name
  nomMissionDefaut: Give a name to your travel...
  dateDepartDefaut: DD/MM/YYYY
  dateRetour: Date of return to residence (not mandatory)
  allerRetourQuestion: Is the return route the same as the outward route?
  sectionsExplication: Fill in the different sections of your travel here
  sectionsExplicationAllerRetour: (only those associated with your outward route)
  chercherLieu: Search a location...
  aucunResultat: No results
  taperCaracteres: Enter more than two characters
  ajouterSection: Add a section
  supprimerSection: Delete the section
</i18n>
