<template>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">{{ $t('modificationMission') }}</p>
      <b-button
        type="is-danger"
        class="ml-5"
        icon-left="close"
        @click="$parent.close()"
      />
    </header>
    <section class="modal-card-body">
      <div class="container is-fluid">
        <ValidationObserver ref="form" slim>
          <!----------->
          <!-- Nom -->
          <!----------->
          <ValidationProvider v-slot="{ errors }" slim rules="required">
            <b-field
              :label="$t('nomMission')"
              :message="errors"
              :type="{ 'is-danger': errors[0] }"
            >
              <b-input v-model="form.nomVoyage"> </b-input>
            </b-field>
          </ValidationProvider>

          <!----------->
          <!-- Dates -->
          <!----------->
          <b-field grouped group-multiline>
            <ValidationProvider v-slot="{ errors }" slim rules="required">
              <b-field
                :label="$t('dateDepart')"
                expanded
                :message="errors"
                :type="{ 'is-danger': errors[0] }"
              >
                <b-datepicker
                  v-model="form.dateDepart"
                  :focused-date="focusedDateDepart"
                  :max-date="form.dateRetour"
                  editable
                  locale="fr-FR"
                  :first-day-of-week="1"
                  :day-names="dayNames"
                  :placeholder="$t('dateDepartDefaut')"
                >
                </b-datepicker>
              </b-field>
            </ValidationProvider>
            <b-field :label="$t('dateRetour')" expanded>
              <b-datepicker
                v-model="form.dateRetour"
                expanded
                :focused-date="focusedDateRetour"
                :min-date="form.dateDepart"
                editable
                locale="fr-FR"
                :first-day-of-week="1"
                :day-names="dayNames"
                :placeholder="$t('dateDepartDefaut')"
              >
              </b-datepicker>
              <p class="control">
                <b-button
                  icon-left="close"
                  type="is-danger"
                  @click="form.dateRetour = null"
                ></b-button>
              </p>
            </b-field>
          </b-field>

          <b-field class="mr-15" :label="$t('allerRetourQuestion')">
            <b-switch
              v-model="form.isAllerRetour"
              class="mt-1"
              type="is-success"
              passive-type="is-danger"
            >
              {{ form.isAllerRetour ? $t('oui') : $t('non') }}
            </b-switch>
          </b-field>
        </ValidationObserver>
      </div>
    </section>

    <b-button
      id="button-save"
      style="border-radius: 0px; border-top: solid 3px black"
      type="is-primary"
      size="is-large"
      @click="validate()"
      >{{ $t('enregistrer') }}</b-button
    >
  </div>
</template>

<script>
import { ValidationObserver, ValidationProvider } from 'vee-validate'
import { mapState } from 'vuex'

export default {
  name: 'FormMissionUpdateComponent',
  components: {
    ValidationObserver,
    ValidationProvider,
  },
  props: {
    idElement: {
      type: Number,
      required: false,
      default: null,
    },
    missionInput: {
      type: Object,
      required: true,
      default: null,
    },
  },
  data() {
    return {
      distance: null,
      form: {
        nomVoyage: null,
        dateDepart: null,
        dateRetour: null,
        isAllerRetour: false,
      },

      mission: this.missionInput,
    }
  },
  computed: {
    ...mapState(['annee']),
    dayNames() {
      return ['D', 'L', 'M', 'M', 'J', 'V', 'S']
    },
    focusedDateDepart() {
      let date =
        this.annee === this.$moment().year()
          ? this.$moment()
          : this.$moment([this.annee, 0, 1])
      if (this.form.dateRetour) {
        date = this.$moment(this.form.dateRetour)
      }
      return date.toDate()
    },
    focusedDateRetour() {
      let date =
        this.annee === this.$moment().year()
          ? this.$moment()
          : this.$moment([this.annee, 0, 1])
      if (this.form.dateDepart) {
        date = this.$moment(this.form.dateDepart)
      }
      return date.toDate()
    },
  },
  watch: {
    form: {
      handler() {
        if (this.mission) {
          this.mission.isAllerRetour = this.isAllerRetour
        }
      },
      deep: true,
    },
  },
  mounted() {
    if (this.missionInput) {
      this.form.nomVoyage = this.mission.nomVoyage
      this.form.dateDepart = new Date(this.mission.dateDepart)
      this.form.isAllerRetour = this.mission.isAllerRetour
      if (this.mission.dateRetour)
        this.form.dateRetour = new Date(this.mission.dateRetour)
    }
  },
  methods: {
    validate() {
      this.$refs.form.validate().then((success) => {
        if (!success) {
          setTimeout(() => {
            const errors = Object.entries(this.$refs.form.errors)
              .map(([key, value]) => ({ key, value }))
              .filter((error) => error.value.length)
            const sectionErrors = []
            for (let ierr = 0; ierr < errors.length; ierr++) {
              const error = errors[ierr]
              const splits = error.key.split('_')
              if (splits[0] === 'sect') {
                sectionErrors.push(parseInt(splits[splits.length - 1]))
              }
            }
            this.activeSection = Math.min(...sectionErrors) - 1
            setTimeout(() => {
              this.$refs.form.refs[errors[0].key].$el.scrollIntoView({
                behavior: 'smooth',
                block: 'center',
              })
            }, 100)
          }, 100)
          return
        }
        this.submit()
      })
    },
    submit() {
      this.mission.nomVoyage = this.form.nomVoyage
      this.mission.dateDepart = this.$moment(this.form.dateDepart).toISOString(
        true
      )
      this.mission.dateRetour = this.$moment(this.form.dateRetour).toISOString(
        true
      )
      this.mission.isAllerRetour = this.form.isAllerRetour
      this.$emit('updateMission', this.mission, this.idElement)
    },
  },
}
</script>

<i18n lang="yaml">
fr:
  modificationMission: Modification de la mission
  nomMission: Nom de la mission
  nomMissionDefaut: Donnez un nom à votre mission...
  dateDepartDefaut: JJ/MM/AAAA
  dateRetour: Date de retour au domicile (non obligatoire)
  allerRetourQuestion: L'itinéraire du retour est-il identique à l'itinéraire de l'aller ?
en:
  modificationMission: Update the travel
  nomMission: Travel name
  nomMissionDefaut: Give a name to your travel...
  dateDepartDefaut: DD/MM/YYYY
  dateRetour: Date of return to residence (not mandatory)
  allerRetourQuestion: Is the return route the same as the outward route?
</i18n>
