<template>
  <div class="modal-card">
    <header class="modal-card-head">
      <p v-if="deplacementdt && deplacementdt.id" class="modal-card-title">
        Modification Déplacement Domicile-Travail
      </p>
      <p v-else class="modal-card-title">
        {{ $t('nouveauDT') }}
      </p>
      <b-button
        type="is-danger"
        class="ml-5"
        icon-left="close"
        @click="$parent.close()"
      />
    </header>
    <section class="modal-card-body">
      <div class="container is-fluid">
        <ValidationObserver ref="form" slim>
          <div class="columns is-vcentered">
            <div class="column is-8">
              <div class="has-background-white-ter pa-5">
                <!----------->
                <!-- Nom -->
                <!----------->
                <b-field grouped group-multiline>
                  <ValidationProvider v-slot="{ errors }" slim rules="required">
                    <b-field
                      expanded
                      :label="$t('nomDT')"
                      :message="errors"
                      :type="{ 'is-danger': errors[0] }"
                    >
                      <b-input v-model="form.nomVoyage" expanded> </b-input>
                    </b-field>
                  </ValidationProvider>
                  <ValidationProvider
                    v-slot="{ errors }"
                    slim
                    rules="required|integer|min_value:2010|max_value:2030"
                  >
                    <b-field
                      expanded
                      :label="$t('annee')"
                      :message="errors"
                      :type="{ 'is-danger': errors[0] }"
                    >
                      <b-numberinput
                        v-model="form.annee"
                        expanded
                        :min="2010"
                        :max="2030"
                        controls-position="compact"
                      >
                      </b-numberinput>
                    </b-field>
                  </ValidationProvider>
                  <ValidationProvider
                    v-slot="{ errors }"
                    slim
                    rules="required|integer|min_value:1|max_value:366"
                  >
                    <b-field
                      expanded
                      :label="$t('nombreDeplacements')"
                      :message="errors"
                      :type="{ 'is-danger': errors[0] }"
                    >
                      <b-numberinput
                        v-model="form.nbJoursTravail"
                        expanded
                        :min="1"
                        :max="366"
                        controls-position="compact"
                      >
                      </b-numberinput>
                    </b-field>
                  </ValidationProvider>
                </b-field>

                <!-- <b-field
                  class="mr-15"
                  label="L'itinéraire du retour est-il identique à l'itinéraire de l'aller ?"
                >
                  <b-switch
                    class="mt-1"
                    v-model="form.isAllerRetour"
                    type="is-success"
                    
                    passive-type="is-danger"
                  >
                    {{ form.isAllerRetour ? "Oui" : "Non" }}
                  </b-switch>
                </b-field> -->
              </div>
            </div>
            <div class="column is-4" style="align-self: stretch">
              <div class="level box has-text-centered" style="height: 100%">
                <div class="level-item">
                  <div>
                    <p class="heading has-text-distance">
                      {{ $t('distanceAnnuelle') }}
                    </p>
                    <div class="title is-size-2 has-text-distance">
                      <p v-if="deplacementdt">
                        {{ deplacementdt.distance | splitNumber }}
                        <span class="is-size-4">km</span>
                      </p>
                      <p v-else>... <span class="is-size-4">km</span></p>
                    </div>
                  </div>
                </div>
                <div class="level-item">
                  <div>
                    <p class="heading has-text-carbone">
                      {{ $t('empreinteAnnuelle') }}
                    </p>
                    <div class="title is-size-2 has-text-carbone">
                      <p v-if="deplacementdt && deplacementdt.distance">
                        {{ deplacementdt.carbone | splitNumber }}
                        <span class="is-size-4">kgCO2e</span>
                      </p>
                      <p v-else>... <span class="is-size-4">kgCO2e</span></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!----------------------------->
          <!-- Boxes Modes Deplacement -->
          <!----------------------------->
          <div>
            <p class="title is-4 mt-7">
              {{ $t('explications') }}
            </p>
            <div class="columns is-centered is-vcentered is-multiline">
              <div
                v-for="(modeDeplacement, keyMode) in modesDeplacement"
                :key="keyMode + 'box'"
                class="column is-1"
                style="align-self: stretch"
              >
                <div
                  :class="[
                    'box',
                    'box-modedeplacement',
                    { 'is-active': selected[keyMode] },
                    { 'is-success': form[keyMode] },
                  ]"
                  @click="changeSelection(keyMode)"
                >
                  <b-icon
                    v-if="form[keyMode]"
                    class="icon-success"
                    size="is-small"
                    icon="check"
                  ></b-icon>
                  <b-icon :icon="iconsModesDeplacement[keyMode]"></b-icon>
                  <p>{{ $t(keyMode) }}</p>
                </div>
              </div>
            </div>

            <!----------------------------->
            <!-- Formulaire distance -->
            <!----------------------------->

            <div class="columns is-centered mt-5">
              <div class="column is-4 has-background-white-ter pa-5">
                <div
                  v-for="(modeDeplacement, keyMode) in modesDeplacement"
                  :key="keyMode + '_distance'"
                >
                  <ValidationProvider
                    v-if="selected[keyMode]"
                    v-slot="{ errors }"
                    slim
                    rules="required|integer|min_value:0"
                  >
                    <b-field
                      v-if="selected[keyMode]"
                      :message="errors"
                      :type="{ 'is-danger': errors[0] }"
                      expanded
                    >
                      <template #label>
                        {{
                          $t('distanceParcourueEn') +
                          ' ' +
                          $t(keyMode).toLowerCase()
                        }}
                        <b-tooltip
                          type="is-dark"
                          :label="$t('distanceExplication')"
                        >
                          <b-icon
                            size="is-small"
                            icon="help-circle-outline"
                          ></b-icon>
                        </b-tooltip>
                      </template>
                      <b-numberinput
                        v-model="form[keyMode]"
                        expanded
                        :min="0"
                        controls-position="compact"
                      >
                      </b-numberinput>
                    </b-field>
                  </ValidationProvider>
                </div>
                <ValidationProvider
                  v-if="selected['bus'] || selected['tramway']"
                  v-slot="{ errors }"
                  slim
                  rules="required"
                >
                  <b-field
                    v-if="selected['bus'] || selected['tramway']"
                    class="mt-5"
                    :label="$t('tailleAgglomeration')"
                    :message="errors"
                    :type="{ 'is-danger': errors[0] }"
                  >
                    <b-select v-model="form.tailleAgglomeration" expanded>
                      <option :value="0">{{ $t('moins100hab') }}</option>
                      <option :value="1">{{ $t('entre100et250hab') }}</option>
                      <option :value="2">{{ $t('plus250hab') }}</option>
                    </b-select>
                  </b-field>
                </ValidationProvider>
                <ValidationProvider
                  v-if="selected['voiture']"
                  v-slot="{ errors }"
                  slim
                  rules="required"
                >
                  <!-- <p>{{ form.motorisation }}</p> -->
                  <b-field
                    v-if="selected['voiture']"
                    class="mt-5"
                    :label="$t('motorisation')"
                    :message="errors"
                    :type="{ 'is-danger': errors[0] }"
                  >
                    <b-select v-model="form.motorisation" expanded>
                      <option value="Essence">{{ $t('essence') }}</option>
                      <option value="Diesel">{{ $t('diesel') }}</option>
                      <option value="Hybride">{{ $t('hybride') }}</option>
                      <option value="Electrique">{{ $t('electrique') }}</option>
                      <option value="GPL">{{ $t('gpl') }}</option>
                      <option value="GNV">{{ $t('gnv') }}</option>
                    </b-select>
                  </b-field>
                </ValidationProvider>
                <ValidationProvider
                  v-if="selected['voiture']"
                  v-slot="{ errors }"
                  slim
                  rules="required"
                >
                  <b-field
                    v-if="selected['voiture']"
                    class="mt-5"
                    :label="$t('nombrePersTransportees')"
                    :message="errors"
                    :type="{ 'is-danger': errors[0] }"
                  >
                    <b-numberinput
                      v-model="form.nbPersonnesVoiture"
                      expanded
                      :min="1"
                      controls-position="compact"
                    >
                    </b-numberinput>
                  </b-field>
                </ValidationProvider>
                <ValidationProvider
                  v-if="selected['deuxRouesMotorise']"
                  v-slot="{ errors }"
                  slim
                  rules="required"
                >
                  <b-field
                    v-if="selected['deuxRouesMotorise']"
                    class="mt-5"
                    :label="$t('nombrePersTransportees')"
                    :message="errors"
                    :type="{ 'is-danger': errors[0] }"
                  >
                    <b-numberinput
                      v-model="form.nbPersonnes2roues"
                      expanded
                      :min="1"
                      controls-position="compact"
                    >
                    </b-numberinput>
                  </b-field>
                </ValidationProvider>
              </div>
              <div
                class="column is-offset-1 is-4 has-background-white-ter pa-5"
              >
                <p class="title is-5">{{ $t('detailDT') }}</p>
                <b-table
                  :data="dataTable"
                  :columns="columnsTable"
                  striped
                ></b-table>
              </div>
            </div>
          </div>
        </ValidationObserver>
      </div>
    </section>

    <b-button
      id="button-save"
      style="border-radius: 0px; border-top: solid 3px black"
      type="is-primary"
      size="is-large"
      @click="validate()"
      >{{ $t('enregistrer') }}</b-button
    >
  </div>
</template>

<script>
import { ValidationObserver, ValidationProvider } from 'vee-validate'
import { geonames } from '@/mixins/geonames'
import DeplacementDT from '@/models/DeplacementDT'

const modesDeplacement = {
  marche: 'Marche',
  velo: 'Vélo',
  veloElectrique: 'Vélo Électrique',
  trottinetteElectrique: 'Trottinette Électrique',
  deuxRouesMotorise: 'Moto',
  voiture: 'Voiture',
  bus: 'Bus',
  tramway: 'Tramway',
  train: 'Train',
  rer: 'RER',
  metro: 'Métro',
}

const iconsModesDeplacement = {
  marche: 'walk',
  velo: 'bicycle',
  veloElectrique: 'bicycle-electric',
  trottinetteElectrique: 'scooter-electric',
  deuxRouesMotorise: 'motorbike',
  voiture: 'car',
  bus: 'bus-side',
  tramway: 'train-variant',
  train: 'train',
  rer: 'subway-variant',
  metro: 'subway',
}

export default {
  name: 'FormDeplacementDTComponent',
  components: {
    ValidationObserver,
    ValidationProvider,
  },
  mixins: [geonames],
  props: {
    annee: {
      type: Number,
      required: false,
      default: null,
    },
    dataInput: {
      type: Object,
      required: false,
      default: null,
    },
  },
  data() {
    return {
      form: {
        annee: this.dataInput ? this.dataInput.annee : this.annee,
        nomVoyage: null,
        isAllerRetour: false,
        nbJoursTravail: 235,
        nbPersonnes2roues: 1,
        nbPersonnesVoiture: 1,
        motorisation: 'Essence',
        tailleAgglomeration: 2,
        marche: 0,
        velo: 0,
        veloElectrique: 0,
        trottinetteElectrique: 0,
        deuxRouesMotorise: 0,
        voiture: 0,
        bus: 0,
        tramway: 0,
        train: 0,
        rer: 0,
        metro: 0,
      },

      selected: {
        marche: false,
        velo: false,
        veloElectrique: false,
        trottinetteElectrique: false,
        deuxRouesMotorise: false,
        voiture: true,
        bus: false,
        tramway: false,
        train: false,
        rer: false,
        metro: false,
      },
      modesDeplacement,
      iconsModesDeplacement,
      deplacementdt: null,

      columnsTable: [
        {
          field: 'modeDeplacement',
          label: this.$t('modeDeplacement'),
        },
        {
          field: 'distance',
          label: this.$t('distanceKm'),
        },
        {
          field: 'carbone',
          label: this.$t('empreinteKg'),
        },
      ],
    }
  },
  computed: {
    dataTable() {
      const goodData = Object.keys(this.form).filter(
        (obj) =>
          this.form[obj] > 0 && Object.keys(modesDeplacement).includes(obj)
      )
      return goodData.map((obj) => {
        return {
          modeDeplacement: modesDeplacement[obj],
          distance: this.form[obj],
          carbone: this.deplacementdt
            .getEmissionModeDeplacement(obj)
            .toFixed(0),
        }
      })
    },
  },
  watch: {
    form: {
      handler() {
        this.data2deplacementdt()
      },
      deep: true,
    },
  },
  created() {
    if (this.dataInput) {
      this.deplacementdt = this.dataInput
      for (const key in this.form) {
        this.form[key] = this.deplacementdt[key]
      }
    }
  },
  methods: {
    validate() {
      this.$refs.form.validate().then((success) => {
        if (!success) {
          setTimeout(() => {
            const errors = Object.entries(this.$refs.form.errors)
              .map(([key, value]) => ({ key, value }))
              .filter((error) => error.value.length)
            setTimeout(() => {
              this.$refs.form.refs[errors[0].key].$el.scrollIntoView({
                behavior: 'smooth',
                block: 'center',
              })
            }, 100)
          }, 100)
          return
        }
        this.submit()
      })
    },
    submit() {
      if (this.deplacementdt.id) {
        this.$emit('updateDeplacementDT', this.deplacementdt)
      } else {
        this.$emit('addDeplacementDT', this.deplacementdt)
      }
    },
    data2deplacementdt() {
      const data = { ...this.form }
      if (this.dataInput) {
        data.id = this.dataInput.id
      }
      this.deplacementdt = new DeplacementDT(data)
    },
    changeSelection(keySelected) {
      const formerValue = this.selected[keySelected]
      Object.keys(this.selected).forEach((key) => (this.selected[key] = false))
      this.selected[keySelected] = !formerValue
    },
  },
}
</script>

<style lang="scss">
@import '~/assets/scss/variables.scss';
.box-modedeplacement {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 1em;
  padding: 10px;
  height: 100px;
  cursor: pointer;
  p {
    text-align: center;
  }
  &.is-active {
    background-color: $primary;
    color: white;
  }
  &.is-success:not(.is-active) {
    background-color: transparentize($success, 0.2);
    color: white;
    font-weight: bold;
  }
  &:hover:not(.is-active) {
    background-color: $white-ter;
    color: black;
  }
  .icon-success {
    position: absolute;
    top: 7px;
    right: 7px;
    border-radius: 50%;
    background-color: white;
    color: $success;
  }
}
</style>

<i18n lang="yaml">
fr:
  nouveauDT: Nouveau déplacement Domicile-Travail
  nomDT: Nom du déplacement
  nombreDeplacements: Nombre de déplacements dans l'année
  distanceAnnuelle: Distance annuelle
  empreinteAnnuelle: Empreinte annuelle
  explications: >-
    Renseignez ci-dessous les distances effectuées avec les différents
    moyens de transport sur une journée type (aller-retour).
  distanceParcourueEn: Distance parcourue en
  distanceExplication: Distance aller-retour sur une journée type
  tailleAgglomeration: Taille de l'agglomération
  moins100hab: Moins de 100 000 habitants
  entre100et250hab: Entre 100 000 et 250 000 habitants
  plus250hab: Plus de 250 000 habitants
  motorisation: Motorisation
  essence: Essence
  diesel: Diesel
  hybride: Hybride
  electrique: Électrique
  gpl: GPL
  gnv: GNV
  nombrePersTransportees: Nombre de personnes transportées
  detailDT: Détail du déplacement journalier
  distanceKm: Distance (km)
  empreinteKg: Empreinte (kgCO2e)
en:
  nouveauDT: New commute
  nomDT: Name of the commute
  nombreDeplacements: Number of commutes during the year
  distanceAnnuelle: Annual distance
  empreinteAnnuelle: Annual footprint
  explications: Enter below the distances that you made with the different transport modes during a typical day (round trip)
  distanceParcourueEn: Distance covered in
  distanceExplication: Round trip distance during a typical day
  tailleAgglomeration: Size of the agglomeration
  moins100hab: Less than 100 000 inhabitants
  entre100et250hab: Between 100 000 and 250 000 inhabitants
  plus250hab: More than 250 000 inhabitants
  motorisation: Motorization
  essence: Petrol
  diesel: Diesel
  hybride: Hybrid
  electrique: Electric
  gpl: LPG
  gnv: NGV
  nombrePersTransportees: Number of people carried
  detailDT: Detail of the daily commute
  distanceKm: Distance (km)
  empreinteKg: Footprint (kgCO2e)
</i18n>
